<div nz-row>
  <div nz-col nzSpan="18">
    <div class="img-login">

    </div>
  </div>
  <div nz-col nzSpan="6">
    <div class="login">

      <div class="login-form">
        <div class="hn-mt">HANOI METRO</div>
        <div class="title">XÍ NGHIỆP VẬN HÀNH TUYẾN ĐSĐT SỐ 3</div>
        <div>
          <img src="img/HanoiMetro.png" style="width: 40%;margin: 6px 30%;">
        </div>
        <div>
          <img src="img/logo.png" style="width: 60%;margin: 26px 20%;">
        </div>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input placeholder="Tên đăng nhập" [(ngModel)]="model.userName"
            (keydown.enter)="processLogin()" />
        </nz-input-group>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input placeholder="Mật khẩu" [(ngModel)]="model.password"
            (keydown.enter)="processLogin()" />
        </nz-input-group>
        <button nz-button class="btn-login" [nzType]="'primary'" (click)="processLogin()">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>
