<nz-page-header nzBackIcon>
  <nz-page-header-title>ĐẶC TÍNH THEO NHÓM</nz-page-header-title>
  <nz-page-header-subtitle>Danh sách đặc tính theo nhóm</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
        <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="search"></span>
        </button>
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </nz-space>
      <button *ngIf="globalService.checkPermissions('R2.6.3')"  (click)="openCreate()" class="!flex !items-center space-btn" nzType="primary" nz-button>
        <span nz-icon nzType="plus-circle"></span> Thêm mới
      </button>
      <button *ngIf="globalService.checkPermissions('R2.6.4')"  (click)="exportExcel()" class="!flex !items-center !border-l-0" style="margin-left: 2%; background-color: #1f7937; color: white;" nz-button >
        <span nz-icon nzType="file-excel"></span>Xuất Excel
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content class="main-content" *ngIf="globalService.checkPermissions('R2.6.1')" >
    <nz-table nzBordered [nzSize]="'middle'" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false" >
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th>Class number</th>
          <th>Characteristic Name</th>
          <th>Name of Person Responsible for Creating the Object</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (click)="openEdit(data)">
          <td> {{(paginationResult.currentPage - 1) * paginationResult.pageSize +i +1}}
          </td>
          <td> <a (click)="openEdit(data)">{{data.class}} - {{ getClassHName(data.class) }}</a></td>
          <td>{{ data.atnam }}</td>
          <td>{{data.aname}}</td>
          <td nzAlign="center">
            <nz-tag nzColor="success" *ngIf="data.isActive">
              <nz-icon nzType="check-circle" />
              <span>Kích hoạt</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="!data.isActive">
              <nz-icon nzType="close-circle" />
              <span>Khoá</span>
            </nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>
</nz-page-header>

<!--Create Update-->
<nz-drawer [nzClosable]="false" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label>Class number</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Class number" formControlName="class">
            <nz-option cdkScrollable *ngFor="let item of lstClassH"
              [nzLabel]="item.class + ' - ' + item.classTxt" [nzValue]="item.class">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Characteristic Name</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select
          formControlName="atnam"
          nzShowSearch
          nzAllowClear
          placeholder="Characteristic Name"
          (nzOnChange)="onClassChange($event)">
          <nz-option
            *ngFor="let item of lstChar"
            [nzLabel]="item.atnam + ' - ' + item.atbez"
            [nzValue]="item.atnam">
          </nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>

      <app-input-clear placeholder="Name of Person Responsible for Creating the Object" label="Name of Person Responsible for Creating the Object"
      [control]="$any(validateForm).controls['aname']"></app-input-clear>

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit && globalService.checkPermissions('R2.6.2')">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Đóng
    </button>
  </nz-space>
</ng-template>
