<nz-page-header nzBackIcon>
  <nz-page-header-title>LỆNH BẢO TRÌ, BẢO DƯỠNG</nz-page-header-title>
  <nz-page-header-subtitle>Danh sách lệnh bảo trì, bảo dưỡng</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <div *nzSpaceItem>
          <button  nz-button nzType="default" *ngIf="_global.checkPermissions('R6.5.3')"
            (click)="onClickAsignAll()"><nz-icon nzType="user-add" nzTheme="outline" /> Phân công</button>
        </div>
        <div *nzSpaceItem>
          <button  nz-button nzType="primary" *ngIf="_global.checkPermissions('R6.5.4')"
           (click)="onClickProcessAll()">
            <nz-icon nzType="right-circle" nzTheme="outline" /> Đang thực hiện
          </button>
        </div>
        <div *nzSpaceItem>
          <button nz-button nzType="dashed" *ngIf="_global.checkPermissions('R6.5.5')"
            (click)="onClickReProcess()">
            <nz-icon nzType="sync" nzTheme="outline" /> Thực hiện lại
          </button>
        </div>
        <div *nzSpaceItem>
          <button nz-button nzType="primary" *ngIf="_global.checkPermissions('R6.5.5')"
            class="btn-check" (click)="onClickDoneAll()">
            <nz-icon nzType="check" nzTheme="outline" /> Hoàn thành
          </button>
        </div>
        
      </nz-space>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div nz-row [nzGutter]="12" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Khu vực chức năng" [(ngModel)]="filter.tplnr"
            (ngModelChange)="search()">
            <nz-option cdkScrollable *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Nhóm thiết bị</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nhóm thiết bị" [(ngModel)]="filter.eqart"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart+ ' - '+item.eqartTxt"
              [nzValue]="item.eqart">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đơn vị quản lý</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Đơn vị quản lý" [(ngModel)]="filter.ingpr"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstPlgrp" [nzLabel]="item.ingrp+ ' - '+item.ingrpTxt"
              [nzValue]="item.ingrp">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Thiết bị</label>
          <nz-select nzShowSearch nzAllowClear placeholder="Thiết bị" [(ngModel)]="filter.equnr"
            (ngModelChange)="search()">
            <nz-option *ngFor="let item of lstEquip" [nzLabel]="item.equnr + ' - ' + item.eqktx" [nzValue]="item.equnr">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Ngày dự kiến hoàn thành</label>
          <nz-date-picker [(ngModel)]="filter.fromDate" (ngModelChange)="search()"
            [nzFormat]="'dd/MM/yyyy HH:mm'"></nz-date-picker>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>đến ngày</label>
          <nz-date-picker [(ngModel)]="filter.toDate" (ngModelChange)="search()"
            [nzFormat]="'dd/MM/yyyy HH:mm'"></nz-date-picker>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Trạng thái</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="filter.status" (ngModelChange)="search()">
            <nz-option *ngFor="let item of lstOrderStatus" [nzLabel]="item.name" [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>

  </nz-page-header-content>
  <nz-page-header-content class="main-content" style="height: calc(-332px + 100vh);"
    *ngIf="_global.checkPermissions('R6.5.1')">
    <nz-table nzBordered [nzSize]="'middle'" [nzData]="paginationResult.data" class="auto-scroll-table"
      [nzShowPagination]="false" [nzFrontPagination]="false" #headerTable>
      <thead>
        <tr>
          <th
            [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>Mã lệnh</th>
          <th>Nội dung</th>
          <th>Ngày bắt đầu</th>
          <th>Ngày dự kiến hoàn thành</th>
          <th>Ngày hoàn thành</th>
          <th>Bộ phận thực hiện</th>
          <th>Người thực hiện</th>
          <th>Khu vực phát sinh</th>
          <th nzAlign="center">Trạng thái</th>
          <th nzAlign="center">Trạng thái vật tư</th>
          <th nzAlign="center">Thao tác</th>
          <th nzAlign="center">In</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of paginationResult.data">
          <td
              [nzChecked]="setOfCheckedId.has(data.aufnr)"
              (nzCheckedChange)="onItemChecked(data, $event)"
            ></td>
          <td (click)="openEditOrder(data)"><a>{{ data.aufnr }}</a></td>
          <td>{{ data.ktext }}</td>
          <td>{{ data.gstrs | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ data.gltrs | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ data.gstri | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ _global.getNameWc(lstWc, data.arbpl) }}</td>
          <td>{{ _global.getFullNameUser(lstUser, data.staffSc) }}</td>
          <td>{{ _global.getNameFloc(lstFloc, data.tplnr) }}</td>
          <td>
            <nz-tag *ngIf="data.status === '01'" nzColor="default">Khởi tạo</nz-tag>
            <nz-tag *ngIf="data.status === '02'" nzColor="processing">Đã phân công</nz-tag>
            <nz-tag *ngIf="data.status === '04'" nzColor="success">Hoàn thành</nz-tag>
            <nz-tag *ngIf="data.status === '07'" nzColor="processing">Đang thực hiện</nz-tag>
          </td>
          <td>
            <nz-tag *ngIf="data.ttvt !== '02'" nzColor="default">Chưa phê duyệt</nz-tag>
            <nz-tag *ngIf="data.ttvt === '02'" nzColor="success">Đã phê duyệt</nz-tag>
          </td>
          <td nzAlign="center">
            <button *ngIf="data.status === '01' && _global.checkPermissions('R6.5.3')" nz-button nzType="default"
              (click)="updateUserOrder(data)">
              <nz-icon nzType="user-add"></nz-icon>
            </button>
            <button *ngIf="data.status === '02' && _global.checkPermissions('R6.5.4')" nz-button nzType="primary"
              (click)="updateStatusOrder(data, '07')">
              <nz-icon nzType="right-circle"></nz-icon>
            </button>
            <button *ngIf="data.status === '07' && _global.checkPermissions('R6.5.5')" nz-button nzType="primary"
              (click)="updateStatusOrder(data, '04')">
              <nz-icon nzType="check"></nz-icon>
            </button>
             <button *ngIf="data.status === '04' && _global.checkPermissions('R6.5.5')" nz-button nzType="dashed"
              (click)="updateStatusOrder(data, '07.1')">
              <nz-icon nzType="sync"></nz-icon>
            </button>
          </td>
          <td nzAlign="center">
            <button *ngIf="_global.checkPermissions('R6.5.6')" nz-button nzType="default"
              (click)="exportOrder(data.aufnr)">
              <nz-icon nzType="printer"></nz-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzShowTotal]="totalTemplate" [nzPageIndex]="filter.currentPage"
        [nzTotal]="paginationResult.totalRecord" [nzPageSize]="filter.pageSize"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>Tổng số {{ paginationResult.totalRecord }} mục</ng-template>
    </div>
  </nz-page-header-content>
</nz-page-header>


<!-- Chi tiết lệnh -->
<nz-drawer [nzClosable]="false" nzWidth="100%" [nzVisible]="visibleOrder" nzPlacement="right"
  [nzTitle]="`CHI TIẾT LỆNH ${model.aufnr} - ${model.ktext}`" [nzExtra]="extra" (nzOnClose)="closeOrder()">
  <ng-container *nzDrawerContent>

    <nz-tabset>
      <nz-tab nzTitle="Chi tiết lệnh">
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Mã yêu cầu</label>
              <app-input-clear [value]="model.qmnum" [(ngModel)]="model.qmnum" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Nội dung yêu cầu</label>
              <app-input-clear [value]="model.ktext" [(ngModel)]="model.ktext" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Mã lệnh</label>
              <app-input-clear [value]="model.aufnr" [(ngModel)]="model.aufnr" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Nội dung thực hiện</label>
              <app-input-clear [value]="model.ktext" [(ngModel)]="model.ktext" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Mã thiết bị</label>
              <app-input-clear [value]="model.equnr" [(ngModel)]="model.equnr" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Tên thiết bị</label>
              <app-input-clear [value]="model.equipName" [(ngModel)]="model.equipName"
                [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Khu vực chức năng</label>
              <app-input-clear [value]="model.tplnr" [(ngModel)]="model.tplnr" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Tên Khu vực chức năng</label>
              <app-input-clear [value]="model.flocName" [(ngModel)]="model.flocName"
                [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Mã tài sản</label>
              <app-input-clear [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Tên tài sản</label>
              <app-input-clear [disabled]="true"></app-input-clear>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Ngày kế hoạch bắt đầu</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'" [nzDisabled]="checkStatusOrder()"
                [(ngModel)]="model.gstrs"></nz-date-picker>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Ngày kế hoạch kết thúc</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'" [nzDisabled]="checkStatusOrder()"
                [(ngModel)]="model.gltrs"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Ngày thực tế bắt đầu</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'" [nzDisabled]="checkStatusOrder()"
                [nzDisabled]="true"></nz-date-picker>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Ngày thực tế bắt đầu</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="model.gstri"
                [nzDisabled]="true"></nz-date-picker>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Ngày thực tế kết thúc</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="model.gltri"
                [nzDisabled]="true"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Hình thức thực hiện</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.htBtbd" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstHTBTBD" [nzLabel]="item.value + ' - ' + item.name"
                  [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Người thực hiện</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.staffSc" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstUser" [nzLabel]="item.userName + ' - ' + item.fullName"
                  [nzValue]="item.userName">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Đơn vị thực hiện</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.arbpl" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
                  [nzValue]="item.arbpl">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Đơn vị quản lý</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.ingpr" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstPlgrp" [nzLabel]="item.ingrp + ' - ' + item.ingrpTxt"
                  [nzValue]="item.ingrp">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Đơn vị sử dụng</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.arbpl" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
                  [nzValue]="item.arbpl">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Loại vật tư, chi phí sử dụng</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.loaivtSd" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstLVTSD" [nzLabel]="item.value + ' - ' + item.name"
                  [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Loại hoạt động bảo trì</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.ilart" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstILART" [nzLabel]="item.value + ' - ' + item.name"
                  [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Danh sách thiết bị">
        <nz-table #EquiqTable [nzShowPagination]="false" nzSize="small" [nzData]="model.lstEquip">
          <thead>
            <tr>
              <th>Mã thiết bị</th>
              <th>Tên thiết bị</th>
              <th style="width: 12%;">Ngày thực hiện</th>
              <th style="width: 12%;">Ngày hoàn thành</th>
              <th>Trạng thái thiết bị</th>
              <th>Trạng thái hoạt động</th>
              <th>Trạng thái thực hiện</th>
              <th>Người thực hiện</th>
              <th style="width: 10%;">Xác nhận</th>
              <th>Nội dung xác nhận</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of EquiqTable.data; let i = index">
              <td>{{data.equnr}}</td>
              <td>{{_global.getNameEquip(lstEquip, data.equnr)}}</td>
              <td>
                <nz-date-picker [nzFormat]="'dd/MM/yyyy HH:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.datab"
                  [nzShowTime]="true" [nzDisabled]="checkStatusOrder()"></nz-date-picker>
              </td>

              <td>
                <nz-date-picker [nzFormat]="'dd/MM/yyyy HH:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.datbi"
                  [nzShowTime]="true" [nzDisabled]="checkStatusOrder()"></nz-date-picker>
              </td>

              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.status" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstUsageStatus" [nzValue]="item.code"
                    [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.statusTb" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstActiveStatus" [nzValue]="item.code"
                    [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.statusTh" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstTTTH" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.staffTh" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstUser" [nzValue]="item.userName"
                    [nzLabel]="item.fullName"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.isConfirm" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstConfirm" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.note" [disabled]="checkStatusOrder()" />
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Tác vụ theo lệnh">
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="3">
            <label nz-checkbox [(ngModel)]="fillDate.isWork" (ngModelChange)="onChangeWork()"
              [nzDisabled]="checkStatusOrder()"> Chọn tất cả</label>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Người thực hiện" [(ngModel)]="fillDate.staffTh"
                (ngModelChange)="onChangeStaffTh()" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstUser" [nzValue]="item.userName" [nzLabel]="item.fullName"></nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
              <nz-date-picker [nzFormat]="'dd/MM/yyyy HH:mm'" [nzPlaceHolder]="'Từ ngày'"
                [(ngModel)]="fillDate.startDate" [nzShowTime]="true" (ngModelChange)="changeFillDate('1')"
                [nzDisabled]="checkStatusOrder()"></nz-date-picker>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
              <nz-date-picker [nzFormat]="'dd/MM/yyyy HH:mm'" [nzPlaceHolder]="'Đến ngày'" [(ngModel)]="fillDate.toDate"
                [nzShowTime]="true" (ngModelChange)="changeFillDate('2')"
                [nzDisabled]="checkStatusOrder()"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="4">
            <div class="inner-box">
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="fillDate.isConfirm"
                (ngModelChange)="onChangeTaskConfirm()" [nzDisabled]="checkStatusOrder()">
                <nz-option *ngFor="let item of lstConfirm" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
              </nz-select>
            </div>
          </div>



        </div>
        <nz-table #operationTable [nzShowPagination]="false" nzSize="small" [nzData]="model.lstOpe">
          <thead>
            <tr>
              <th>Chọn</th>
              <th>Mã tác vụ</th>
              <th>Tên tác vụ</th>
              <th>Người thực hiện</th>
              <th>Từ ngày</th>
              <th>Tới ngày</th>
              <th style="width: 12%;">Xác nhận</th>
              <th>ND Xác nhận</th>
              <th>Kết quả | Lý do</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of operationTable.data; let i = index">
              <td nzAlign="center"><label nz-checkbox [(ngModel)]="data.isWork"
                  [nzDisabled]="checkStatusOrder()"></label></td>
              <td>{{data.vornr}}</td>
              <td>{{data.ltxa1}}</td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.staffTh" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstUser" [nzValue]="item.userName"
                    [nzLabel]="item.fullName"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-date-picker [nzFormat]="'dd/MM/yyyy HH:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.dateCf"
                  [nzShowTime]="true" (ngModelChange)="changeDate(data, '1')"
                  [nzDisabled]="checkStatusOrder()"></nz-date-picker>
              </td>
              <td>
                <nz-date-picker [nzFormat]="'dd/MM/yyyy HH:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.dateCt"
                  [nzShowTime]="true" (ngModelChange)="changeDate(data, '2')"
                  [nzDisabled]="checkStatusOrder()"></nz-date-picker>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.isConfirm" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstConfirm" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td><input type="text" nz-input [(ngModel)]="data.ndxn" [disabled]="checkStatusOrder()"></td>
              <td><input type="text" nz-input [(ngModel)]="data.note" [disabled]="checkStatusOrder()"></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab *ngIf="model.qmnum != null && model.qmnum != ''" nzTitle="Phân tích sự cố">
        <nz-table #catalogTable [nzShowPagination]="false" nzSize="small" [nzData]="model.lstCatalog">
          <thead>
            <tr>
              <th style="width: 20%;">Thành phần hư hỏng</th>
              <th style="width: 20%;">Loại sự cố</th>
              <th style="width: 20%;">Nguyên nhân</th>
              <th style="width: 20%;">Hành động khắc phục</th>
              <th style="width: 20%;">Biện pháp phòng ngừa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of catalogTable.data; let i = index">
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.objpart" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstCatalogTypeB" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.typeCode" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstCatalogTypeC" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.causeCode" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstCatalogType5" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.taskCode" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstCatalogType2" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.actCode" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstCatalogTypeA" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
            </tr>

          </tbody>
        </nz-table>
        <div style="display: flex; justify-content: center; margin-top: 20px;" *ngIf="!checkStatusOrder()">
          <button nz-button nzType="dashed" (click)="addCatalogItem()">
            <nz-icon nzType="plus" />
            Thêm thành phần
          </button>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Vật tư sử dụng">
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
              <label>Người phê duyệt vật tư</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.npdvt">
                <nz-option *ngFor="let item of lstUser" [nzValue]="item.userName"
                  [nzLabel]="item.userName + ' - ' + item.fullName"></nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="2">
            <div class="inner-box">
              <label>Trạng thái vật tư</label>
             <nz-tag *ngIf="model.ttvt == '02'" class="tag-status" nzColor="success">Đã phê duyệt</nz-tag>
             <nz-tag *ngIf="model.ttvt != '02'" class="tag-status" nzColor="default">Chưa phê duyệt</nz-tag>
            </div>
          </div>
        </div>
        <nz-table #itemTableS [nzShowPagination]="false" nzSize="small" [nzData]="lstItemOrderS">
          <thead>
            <tr>
              <th>Ngày xuất</th>
              <th style="width: 20%;">Tên vật tư</th>
              <th>Số lượng</th>
              <th style="width: 16%;">Đơn vị tính</th>
              <th>Tồn kho</th>
              <th>Đơn giá</th>
              <th>Thành Tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of itemTableS.data; let i = index">
              <td><nz-date-picker [nzFormat]="'dd/MM/yyyy HH:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.budat"
                  [nzShowTime]="true" [nzDisabled]="checkStatusOrder()"></nz-date-picker></td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.matnr" [nzDisabled]="checkStatusOrder()"
                  (ngModelChange)="onMaterialChange($event, data)">
                  <nz-option *ngFor="let item of lstItem" [nzValue]="item.matnr"
                    [nzLabel]="item.matnr + ' - ' + item.maktx"></nz-option>
                </nz-select>
              </td>
              <td>
                <input type="text" [disabled]="checkStatusOrder()" nz-input [(ngModel)]="data.menge"
                  (ngModelChange)="calculateTotal(data)" />
              </td>
              <td><input type="text" nz-input [(ngModel)]="data.meins" [disabled]="true" /></td>
              <td><input type="text" [disabled]="true" nz-input [(ngModel)]="data.inventory" /></td>
              <td><input type="text" [disabled]="checkStatusOrder()" nz-input [(ngModel)]="data.price"
                  (ngModelChange)="calculateTotal(data)" /></td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.dmbtr" [disabled]="true" />
              </td>

            </tr>
          </tbody>
        </nz-table>
        <div style="display: flex; justify-content: center; margin-top: 20px;" *ngIf="!checkStatusOrder()">
          <button nz-button nzType="dashed" (click)="addOrderItem()">
            <nz-icon nzType="plus" />
            Thêm vật tư
          </button>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Đề nghị thay thế">
        <nz-table #itemTableM [nzShowPagination]="false" nzSize="small" [nzData]="lstItemOrderM">
          <thead>
            <tr>
              <th style="width: 20%;">Tên vật tư</th>
              <th>Số lượng</th>
              <th style="width: 16%;">Đơn vị tính</th>
              <th style="width: 15%;">Đơn giá</th>
              <th style="width: 20%;">Thành Tiền</th>
              <th>Nước sản xuất</th>
              <th>Chất lượng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of itemTableM.data; let i = index">
              <td>
                <input type="text" nz-input [(ngModel)]="data.maktx" [disabled]="checkStatusOrder()">
              </td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.menge" (ngModelChange)="calculateTotal(data)"
                  [disabled]="checkStatusOrder()" />
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.meins" [nzDisabled]="checkStatusOrder()">
                  <nz-option *ngFor="let item of lstUnit" [nzValue]="item.code"
                    [nzLabel]="item.code + ' - ' + item.name"></nz-option>
                </nz-select>
              </td>

              <td><input type="text" [disabled]="checkStatusOrder()" nz-input [(ngModel)]="data.price"
                  (ngModelChange)="calculateTotal(data)" /></td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.dmbtr" [disabled]="true" />
              </td>
              <td><input type="text" [disabled]="checkStatusOrder()" nz-input [(ngModel)]="data.lgort" /></td>
              <td><input type="text" [disabled]="checkStatusOrder()" nz-input [(ngModel)]="data.uname" /></td>

            </tr>
          </tbody>
        </nz-table>
        <div style="display: flex; justify-content: center; margin-top: 20px;" *ngIf="!checkStatusOrder()">
          <button nz-button nzType="dashed" (click)="addOrderItemM()">
            <nz-icon nzType="plus" />
            Thêm vật tư
          </button>
        </div>
      </nz-tab>
      <nz-tab nzTitle="File đính kèm">
        <div class="">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="24">
              <nz-upload nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8"
                [nzPreview]="handlePreview" [nzRemove]="handleRemove" [nzCustomRequest]="customUploadRequest"
                *ngIf="!checkStatusOrder()">
                <div>
                  <nz-icon nzType="plus"></nz-icon>
                  <div style="margin-top: 8px">Chọn file</div>
                </div>
              </nz-upload>

              <nz-modal [nzVisible]="previewVisible" [nzTitle]="previewTitle" [nzContent]="modalContent"
                [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                <ng-template #modalContent>
                  <img [src]="previewImage" style="width: 100%" />
                </ng-template>
              </nz-modal>
              <div class="document-list" *ngIf="fileListTable && fileListTable.length > 0">
                <h3 class="mt-4 mb-2">Danh sách file đính kèm</h3>
                <nz-table #docTable [nzData]="fileListTable" [nzShowPagination]="false" nzSize="small">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Tên tài liệu</th>
                      <th>Loại</th>
                      <th>Kích thước</th>
                      <th>Ngày tải lên</th>
                      <th nzWidth="100px" nzAlign="center">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let doc of docTable.data; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <a [href]="doc.url" target="_blank">{{ doc.name }}</a>
                      </td>
                      <td>{{ doc.fileType || 'N/A' }}</td>
                      <td>{{ doc.fileSize | number }} KB</td>
                      <td>{{ doc.createDate | date: 'dd/MM/yyyy HH:mm' }}</td>
                      <td nzAlign="center">
                        <a nz-tooltip nzTooltipTitle="Xóa" nz-button nzType="link" nzDanger
                          (click)="deleteDocument(doc)">
                          <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>

  </ng-container>
</nz-drawer>
<ng-template #extra>

  <button class="button-template" nz-button nzType="default"
    *ngIf="model.status == '01' && _global.checkPermissions('R6.5.3')" (click)="updateUserOrder(model)"><nz-icon
      nzType="user-add" nzTheme="outline" /> Phân công</button>

  <button class="button-template" nz-button nzType="primary"
    *ngIf="model.status == '02' && _global.checkPermissions('R6.5.4')" class="btn-check"
    (click)="updateStatusOrder(model, '07')">
    <nz-icon nzType="right-circle" nzTheme="outline" /> Đang thực hiện
  </button>
  
  <button class="button-template" nz-button nzType="dashed"
    *ngIf="model.status == '04' && _global.checkPermissions('R6.5.5')"
    (click)="updateStatusOrder(model, '07.1')">
    <nz-icon nzType="sync" nzTheme="outline" /> Thực hiện lại
  </button>

  <button class="button-template" nz-button nzType="primary" style="background-color: green; border-color: green !important;"
    *ngIf="model.npdvt == user.userName"
    (click)="pheDuyetVatTu()">
    <nz-icon nzType="check" nzTheme="outline" /> Phê duyệt vật tư
  </button>

  <button class="button-template" nz-button nzType="primary"
    *ngIf="model.status == '07' && _global.checkPermissions('R6.5.5')" class="btn-check"
    (click)="updateStatusOrder(model, '04')">
    <nz-icon nzType="check" nzTheme="outline" /> Hoàn thành
  </button>

  <button *ngIf="_global.checkPermissions('R6.5.6')" class="button-template" nz-button nzType="default"
    (click)="exportOrder(model.aufnr)"><nz-icon nzType="printer" nzTheme="outline" />In
    lệnh</button>

  <button *ngIf="_global.checkPermissions('R6.5.2') && !checkStatusOrder()" class="button-template" nz-button
    nzType="primary" (click)="updateOrder()"><nz-icon nzType="save" nzTheme="outline" />Cập
    nhật</button>

  <button class="button-template" nz-button nzType="primary" nzDanger (click)="closeOrder()"><nz-icon nzType="close"
      nzTheme="outline" />Đóng</button>

</ng-template>

<nz-modal [(nzVisible)]="isVisibleUserOrder" nzTitle="PHÂN CÔNG" (nzOnCancel)="userCancel()" (nzOnOk)="userOk()"
  nzCancelText="Hủy" nzOkText="Phân công">
  <ng-container *nzModalContent>
    <label>Chọn người được phân công</label>
    <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.staffSc">
      <nz-option *ngFor="let item of lstUser" [nzValue]="item.userName"
        [nzLabel]="item.userName + ' - ' + item.fullName"></nz-option>
    </nz-select>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="visibleAssignAll" nzTitle="PHÂN CÔNG HÀNG LOẠT" (nzOnCancel)="assignCancel()" (nzOnOk)="assignOk()"
  nzCancelText="Hủy" nzOkText="Phân công">
  <ng-container *nzModalContent>
    <label>Chọn người được phân công</label>
    <nz-select nzShowSearch nzAllowClear [(ngModel)]="userAssign">
      <nz-option *ngFor="let item of lstUser" [nzValue]="item.userName"
        [nzLabel]="item.userName + ' - ' + item.fullName"></nz-option>
    </nz-select>
  </ng-container>
</nz-modal>