.action-td {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn-check {
  border-color: green;
  background: green;
}

nz-select,
nz-date-picker {
  width: 100%;
}

.gutter-row {
  margin-bottom: 12px;
}
