<nz-page-header nzBackIcon>
  <nz-page-header-title>PHÊ DUYỆT SỰ CỐ</nz-page-header-title>
  <nz-page-header-subtitle>Danh sách sự cố cần phê duyệt</nz-page-header-subtitle>
  <nz-page-header-extra>

  </nz-page-header-extra>
  <nz-page-header-content class="main-content">
    <nz-table nzBordered [nzSize]="'middle'" [nzData]="paginationResult.data" class="auto-scroll-table"
      [nzShowPagination]="false" [nzFrontPagination]="false" #headerTable>
      <thead>
        <tr>
          <th [nzChecked]="checked"></th>
          <th>Mã yêu cầu</th>
          <th>Nội dung</th>
          <th>Ngày ghi nhận</th>
          <th>Ngày hoàn thành</th>
          <th>Bộ phận thực hiện</th>
          <th>Người tạo sự cố</th>
          <th>Người sửa chữa</th>
          <th>Khu vực phát sinh</th>
          <th>Tên thiết bị</th>
          <th>Mức độ ưu tiên</th>
          <th nzAlign="center">Trạng thái</th>
          <th nzAlign="center">Hành động</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <tr *ngFor="let data of paginationResult.data; let i = index">
          <td [nzChecked]="false"></td>
          <td (click)="openDetail(data)"><a>{{ data.qmnum }}</a></td>
          <td>{{ data.qmtxt }}</td>
          <td>{{ data.qmdat | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ data.ltrmn | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ getNameWc(data.arbpl) }}</td>
          <td>{{ getFullNameUser(data.qmnam) }}</td>
          <td>{{ getFullNameUser(data.staffSc) }}</td>
          <td>{{ getFlocName(data.tplnr) }}</td>
          <td>{{ getNameEquip(data.equnr) }}</td>
          <td>{{ getPriorityText(data.priok) }}</td>
          <td>
            <nz-tag *ngIf="data.statAct == '01'" nzColor="processing">Chờ duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '02'" nzColor="success">Phê duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '03'" nzColor="error">Từ chối</nz-tag>
            <nz-tag *ngIf="data.statAct == '04'" nzColor="success">Hoàn thành</nz-tag>
            <nz-tag *ngIf="data.statAct == '05'" nzColor="default">Đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '06'" nzColor="error">Từ chối đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '07'" nzColor="error">Đang thực hiện</nz-tag>
          </td>
          <td>
            <div class="action-td">
              <button nzTooltipTitle="Phê duyệt" nzTooltipPlacement="top" nz-button nz-tooltip nzType="primary"
                class="btn-check" (click)="updateStatusNoti(data, '02')">
                <nz-icon nzType="check" nzTheme="outline" />
              </button>
              <button nzTooltipTitle="Từ chối" nzTooltipPlacement="top" nz-tooltip nz-button nzType="primary" nzDanger
                (click)="updateStatusNoti(data, '03')">
                <nz-icon nzType="close" nzTheme="outline" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzShowTotal]="totalTemplate" [nzPageIndex]="filter.currentPage"
        [nzTotal]="paginationResult.totalRecord" [nzPageSize]="filter.pageSize"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>Tổng số {{ paginationResult.totalRecord }} mục</ng-template>
    </div>
  </nz-page-header-content>
</nz-page-header>


<nz-drawer nzWidth="60%" [nzVisible]="visibleDetail" nzPlacement="right"
  [nzTitle]="`CHI TIẾT SỰ CỐ ${model.qmnum} - ${model.qmtxt}`" [nzExtra]="extra" (nzOnClose)="closeDetail()">
  <ng-container *nzDrawerContent>
    <nz-tabset>
      <nz-tab nzTitle="Thông tin chính">
        <div nz-row [nzGutter]="16">

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Khu vực chức năng</label>
              <nz-select nzShowSearch nzAllowClear placeholder="Khu vực chức năng" [(ngModel)]="model.tplnr">
                <nz-option *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
                  [nzValue]="item.tplnr">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Nhóm thiết bị</label>
              <nz-select nzShowSearch nzAllowClear placeholder="Nhóm thiết bị" [(ngModel)]="model.eqart">
                <nz-option *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart + ' - ' + item.eqartTxt"
                  [nzValue]="item.eqart">
                </nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Thiết bị</label>
              <nz-select nzShowSearch nzAllowClear placeholder="Thiết bị" [(ngModel)]="model.equnr">
                <nz-option *ngFor="let item of lstEquip" [nzLabel]="item.equnr + ' - ' + item.eqktx"
                  [nzValue]="item.equnr">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Bộ phận thực hiện</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.arbpl">
                <nz-option *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
                  [nzValue]="item.arbpl">
                </nz-option>
              </nz-select>
            </div>
          </div>


          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Bộ phận tiếp nhận</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.ingrp">
                <nz-option *ngFor="let item of lstPlgrp" [nzLabel]="item.ingrp + ' - ' + item.ingrpTxt"
                  [nzValue]="item.ingrp">
                </nz-option>
              </nz-select>
            </div>
          </div>



          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Loại thông báo</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.qmart">
                <nz-option *ngFor="let item of lstNotiTp" [nzLabel]="item.code + ' - ' + item.name"
                  [nzValue]="item.code">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Mô tả sự cố (40 kí tự)</label>
              <textarea rows="2" nz-input [(ngModel)]="model.qmtxt"></textarea>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Chi tiết sự cố</label>
              <textarea rows="2" nz-input [(ngModel)]="model.qmdetail"></textarea>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Người thông báo sự cố</label>
              <app-input-clear [(value)]="model.qmnam" [(ngModel)]="model.qmnam" [disabled]="true"></app-input-clear>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Mức độ ưu tiên</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.priok">
                <nz-option *ngFor="let item of lstPriorityLevel" [nzLabel]="item.value + ' - ' + item.name"
                  [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Ngày thông báo sự cố</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'" [(ngModel)]="model.qmdat"
                [disabled]="true"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Người sửa chữa</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.staffSc">
                <nz-option *ngFor="let item of lstUser" [nzLabel]="item.userName + ' - ' + item.fullName"
                  [nzValue]="item.userName">
                </nz-option>
              </nz-select>
            </div>
          </div>



          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Ngày yêu cầu hoàn thành</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'" [(ngModel)]="model.ltrmn"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Đơn vị bảo trì</label>
              <nz-select nzShowSearch nzAllowClear placeholder="Đơn vị bảo trì" [(ngModel)]="model.iwerk">
                <nz-option *ngFor="let item of lstPlant" [nzLabel]="item.iwerk + ' - ' + item.iwerkTxt"
                  [nzValue]="item.iwerk">
                </nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Thời gian bắt đầu dừng máy</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'"
                [nzShowTime]="true"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label nz-checkbox>Break down</label>
            </div>
          </div>
        </div>

      </nz-tab>
      <nz-tab nzTitle="Biên bản kiểm tra hiện trạng">
        <div class="tab-content">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Ngày biên bản</label>
                <div class="form-control">
                  <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="model.checkReportDate"
                    nzPlaceHolder="14/05/2025"></nz-date-picker>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Giờ biên bản</label>
                <div class="form-control">
                  <nz-time-picker [nzFormat]="'HH:mm:ss'" [(ngModel)]="model.checkReportTime"
                    nzPlaceHolder="00:00:00"></nz-time-picker>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Đơn vị quản lý</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.checkReportManageUnit">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Chức danh</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.checkReportPosition1"
                    nzPlaceHolder="--Chọn chức danh">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Đơn vị sử dụng</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.checkReportUseUnit">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Chức danh</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.checkReportPosition2"
                    nzPlaceHolder="--Chọn chức danh">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Đơn vị thực hiện</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.checkReportImplementUnit">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Chức danh</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.checkReportPosition3"
                    nzPlaceHolder="--Chọn chức danh">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="24">
              <div class="inner-box">
                <label>Nội dung kiểm tra</label>
                <textarea rows="5" nz-input [(ngModel)]="model.checkReportContent"></textarea>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="24">
              <div class="inner-box">
                <label>Nội dung đề xuất</label>
                <textarea rows="5" nz-input [(ngModel)]="model.checkReportSuggestion"></textarea>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Biên bản nghiệm thu">
        <div class="tab-content">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Ngày biên bản</label>
                <div class="form-control">
                  <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="model.acceptanceReportDate"
                    nzPlaceHolder="14/05/2025"></nz-date-picker>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Giờ biên bản</label>
                <div class="form-control">
                  <nz-time-picker [nzFormat]="'HH:mm:ss'" [(ngModel)]="model.acceptanceReportTime"
                    nzPlaceHolder="00:45:13"></nz-time-picker>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Đơn vị quản lý</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.acceptanceReportManageUnit">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Chức danh</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.acceptanceReportPosition1"
                    nzPlaceHolder="--Chọn chức danh">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Đơn vị sử dụng</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.acceptanceReportUseUnit">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Chức danh</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.acceptanceReportPosition2"
                    nzPlaceHolder="--Chọn chức danh">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Đơn vị thực hiện</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.acceptanceReportImplementUnit">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box horizontal-form-item">
                <label class="form-label">Chức danh</label>
                <div class="form-control">
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.acceptanceReportPosition3"
                    nzPlaceHolder="--Chọn chức danh">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Phân tích sự cố">Content of Tab Pane 3</nz-tab>
      <nz-tab nzTitle="File đính kèm">
        <div class="tab-content">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="24">
              <nz-upload nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8"
                [nzPreview]="handlePreview" [nzRemove]="handleRemove" [nzCustomRequest]="customUploadRequest" >
                <div>
                  <nz-icon nzType="plus"></nz-icon>
                  <div style="margin-top: 8px">Chọn file</div>
                </div>
              </nz-upload>

              <nz-modal [nzVisible]="previewVisible" [nzTitle]="previewTitle" [nzContent]="modalContent"
                [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                <ng-template #modalContent>
                  <img [src]="previewImage" style="width: 100%" />
                </ng-template>
              </nz-modal>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <button nz-button nzType="default" (click)="closeDetail()">Đóng</button>
  &nbsp;
  <button nz-button nzType="primary" (click)="updateDetail()">Cập nhật</button>
</ng-template>