<nz-page-header nzBackIcon>
  <nz-page-header-title>Thiết bị</nz-page-header-title>
  <nz-page-header-subtitle>Danh sách thiết bị</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
        <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="search"></span>
        </button>
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </nz-space>
      <button (click)="openCreate()" class="!flex !items-center space-btn" nzType="primary" nz-button>
        <span nz-icon nzType="plus-circle"></span> Thêm mới
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div nz-row [nzGutter]="12" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Khu vực chức năng" [(ngModel)]="filter.tplnr">
            <nz-option cdkScrollable *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Type of Technical Object</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Type of Technical Object">
            <nz-option option cdkScrollable *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart+ ' - '+item.eqartTxt"
              [nzValue]="item.eqart">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Sub Type Object</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sub Type Object">
            <nz-option option cdkScrollable *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart+ ' - '+item.eqartTxt"
              [nzValue]="item.eqart">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Phòng ban sử dụng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Phòng ban sử dụng">
            <nz-option option cdkScrollable *ngFor="let item of lstOrganize" [nzLabel]="item.id+ ' - '+item.name"
              [nzValue]="item.id">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Người sử dụng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Người sử dụng">
            <nz-option option cdkScrollable *ngFor="let item of lstAccount"
              [nzLabel]="item.userName+ ' - '+item.fullName" [nzValue]="item.userName">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Trạng thái sử dụng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái sử dụng">
            <nz-option option cdkScrollable *ngFor="let item of lstUsageStatus" [nzLabel]="item.code+ ' - '+item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Trạng thái hoạt động</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái hoạt động">
            <nz-option option cdkScrollable *ngFor="let item of lstActiveStatus" [nzLabel]="item.code+ ' - '+item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>


  </nz-page-header-content>
  <nz-page-header-content class="main-content" style="height: calc(-344px + 100vh);">
    <nz-table nzBordered [nzSize]="'middle'" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false"
      nzBordered [nzSize]="'middle'">
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th>Equipment Number</th>
          <th>Equipment description</th>
          <th>Planner Group for <br> Customer Service <br> and Plant Maintenance</th>
          <th>Functional Location</th>
          <th>Planner Group for Customer Service and Plant Maintenance</th>
          <th>Equipment category</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (click)="openEdit(data)">
          <td> {{(paginationResult.currentPage - 1) * paginationResult.pageSize +i +1}}
          </td>
          <td> <a (click)="openEdit(data)">{{ data.equnr }}</a></td>
          <td>{{data.eqktx}}</td>
          <td>{{ data.iwerk }}</td>
          <td>{{data.tplnr}}</td>
          <td>{{data.ingrp}}</td>
          <td>{{getEquipmentCategoryName(data.eqtyp)}}</td>

          <td nzAlign="center">
            <nz-tag nzColor="success" *ngIf="data.isActive">
              <nz-icon nzType="check-circle" />
              <span>Kích hoạt</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="!data.isActive">
              <nz-icon nzType="close-circle" />
              <span>Khoá</span>
            </nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>
</nz-page-header>

<nz-drawer nzWidth="60%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">

      <nz-tabset>
        <nz-tab nzTitle="Thông tin">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Equipment Number" label="Equipment Number"
                  [control]="$any(validateForm).controls['equnr']" [required]="true"
                  [disabled]="edit ? true : false"></app-input-clear>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Equipment description" label="Equipment description"
                  [control]="$any(validateForm).controls['eqktx']"></app-input-clear>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Maintenance Planning Plant</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Maintenance Planning Plant"
                      formControlName="iwerk">
                      <nz-option cdkScrollable *ngFor="let item of lstPlant"
                        [nzLabel]="item.iwerk + ' - ' +item.iwerkTxt" [nzValue]="item.iwerk">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Functional Location</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Functional Location" formControlName="tplnr">
                      <nz-option cdkScrollable *ngFor="let item of lstFloc"
                        [nzLabel]="item.tplnr + ' - ' + item.descript" [nzValue]="item.tplnr">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Planner Group for Customer Service and Plant Maintenance"
                  label="Planner Group for Customer Service and Plant Maintenance"
                  [control]="$any(validateForm).controls['ingrp']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Equipment category</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Equipment category" formControlName="eqtyp">
                      <nz-option cdkScrollable *ngFor="let item of lstEqCat"
                        [nzLabel]="item.eqtyp + ' - '+item.eqtypTxt" [nzValue]="item.eqtyp">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Type of Technical Object</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Type of Technical Object" formControlName="eqart">
                      <nz-option cdkScrollable *ngFor="let item of lstEqGroup"
                        [nzLabel]="item.eqart+ ' - '+item.eqartTxt" [nzValue]="item.eqart">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Type of Technical Object Sub</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Type of Technical Object Sub"
                      formControlName="eqartSub">
                      <nz-option cdkScrollable *ngFor="let item of lstEqGroup"
                        [nzLabel]="item.eqart+ ' - '+item.eqartTxt" [nzValue]="item.eqart">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Type of Technical Object Tp</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Type of Technical Object Tp"
                      formControlName="eqartTp">
                      <nz-option cdkScrollable *ngFor="let item of lstEqGroup"
                        [nzLabel]="item.eqart +' - '+item.eqartTxt" [nzValue]="item.eqart">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Mã thiết bị cha</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Mã thiết bị cha" formControlName="hequi">
                      <nz-option cdkScrollable *ngFor="let item of lstEquip" [nzLabel]="item.equnr+' - '+item.eqktx"
                        [nzValue]="item.equnr">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Single-Character Indicator" label="Single-Character Indicator"
                  [control]="$any(validateForm).controls['parentFlg']"></app-input-clear>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Natural Number" label="Natural Number"
                  [control]="$any(validateForm).controls['childCnt']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Work center</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Work center" formControlName="arbpl">
                      <nz-option cdkScrollable *ngFor="let item of lstEqWc"
                        [nzLabel]="item.arbpl + ' - ' + item.arbplTxt" [nzValue]="item.arbpl">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Cost Center" label="Cost Center"
                  [control]="$any(validateForm).controls['kostl']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Plant section" label="Plant section"
                  [control]="$any(validateForm).controls['beber']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Object status" label="Object status"
                  [control]="$any(validateForm).controls['statAct']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Individual status of an object (short form)"
                  label="Individual status of an object (short form)"
                  [control]="$any(validateForm).controls['statActT']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Trạng thái thực hiện" label="Trạng thái thực hiện"
                  [control]="$any(validateForm).controls['statusTh']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Main Asset Number" label="Main Asset Number"
                  [control]="$any(validateForm).controls['anlnr']"></app-input-clear>
              </div>
            </div>


            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Asset Subnumber" label="Asset Subnumber"
                  [control]="$any(validateForm).controls['anlun']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Class Type" label="Class Type"
                  [control]="$any(validateForm).controls['klart']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Class number" label="Class number"
                  [control]="$any(validateForm).controls['class']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Single-Character Indicator (AUSP_FLG)"
                  label="Single-Character Indicator (AUSP_FLG)"
                  [control]="$any(validateForm).controls['auspFlg']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Single-Character Indicator (DEL_FLG)"
                  label="Single-Character Indicator (DEL_FLG)"
                  [control]="$any(validateForm).controls['delFlg']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Date (DEL_DATE)</nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="delDate" [nzPlaceHolder]="'Chọn ngày'"
                      style="width: 100%;"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Single-Character Indicator (INACT_FLG)"
                  label="Single-Character Indicator (INACT_FLG)"
                  [control]="$any(validateForm).controls['inactFlg']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Date (INACT_DATE)</nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="inactDate" [nzPlaceHolder]="'Chọn ngày'"
                      style="width: 100%;"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Start-up Date of the Technical Object</nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="inbdt" [nzPlaceHolder]="'Chọn ngày'"
                      style="width: 100%;"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

          </div>
        </nz-tab>
        <nz-tab nzTitle="Hình ảnh">
          <div class="image-upload-container">
            <div class="upload-section" *ngIf="edit || !edit">
              <nz-upload nzType="drag"
                [nzAction]="environment.apiUrl + '/EquipPic/Upload?equnr=' + (currentEquipCode || validateForm.get('equnr')?.value || '')"
                [nzName]="'file'" [nzBeforeUpload]="beforePicUpload" [nzShowUploadList]="false"
                (nzChange)="handlePicUploadChange($event)"
                [nzDisabled]="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)">
                <p class="ant-upload-drag-icon">
                  <span nz-icon nzType="picture" nzTheme="outline"></span>
                </p>
                <p class="ant-upload-text">Nhấp hoặc kéo file ảnh để tải lên</p>
                <p class="ant-upload-hint">Hỗ trợ các định dạng file ảnh: JPG, PNG, GIF...</p>
                <nz-alert
                  *ngIf="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)"
                  nzType="warning" nzMessage="Vui lòng nhập mã thiết bị trước khi tải ảnh lên" nzShowIcon></nz-alert>
              </nz-upload>
            </div>

            <nz-divider *ngIf="equipPictures && equipPictures.length > 0" nzText="Danh sách hình ảnh đã đính kèm"
              nzOrientation="left"></nz-divider>

            <div class="image-gallery" *ngIf="equipPictures && equipPictures.length > 0">
              <nz-card nzHoverable style="width: 220px;" class="image-card" *ngFor="let pic of equipPictures">
                <img [src]="pic.path" alt="Equipment Image" (click)="previewImage = pic.path; previewVisible = true;" />
                <div class="image-actions">
                  <button nz-button nzType="text" nzDanger (click)="deletePicture(pic.id)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </div>
              </nz-card>
            </div>

            <nz-empty *ngIf="!equipPictures || equipPictures.length === 0"
              nzNotFoundContent="Chưa có hình ảnh cho thiết bị này"></nz-empty>
          </div>

          <!-- Image preview -->
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="handlePreviewCancel()">
            <ng-template #modalContent>
              <img [src]="previewImage" style="width: 100%;" />
            </ng-template>
          </nz-modal>
        </nz-tab>

        <nz-tab nzTitle="File đính kèm">
          <div class="document-upload-container">
            <div class="upload-section" *ngIf="edit || !edit">

              <nz-upload nzType="drag"
                [nzAction]="environment.apiUrl + '/EquipDoc/Upload?equnr=' + (currentEquipCode || validateForm.get('equnr')?.value || '') + (selectedDocType ? '&docType=' + selectedDocType : '')"
                [nzName]="'file'" [nzBeforeUpload]="beforeDocUpload" [nzShowUploadList]="false"
                (nzChange)="handleDocUploadChange($event)"
                [nzDisabled]="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)">
                <p class="ant-upload-drag-icon">
                  <span nz-icon nzType="file" nzTheme="outline"></span>
                </p>
                <p class="ant-upload-text">Nhấp hoặc kéo file để tải lên</p>
                <p class="ant-upload-hint">Hỗ trợ tất cả các loại tài liệu: PDF, DOCX, XLSX...</p>
                <nz-alert
                  *ngIf="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)"
                  nzType="warning" nzMessage="Vui lòng nhập mã thiết bị trước khi tải tài liệu lên"
                  nzShowIcon></nz-alert>
              </nz-upload>
            </div>

            <nz-divider *ngIf="equipDocuments && equipDocuments.length > 0" nzText="Danh sách tài liệu đã đính kèm"
              nzOrientation="left"></nz-divider>

            <div class="document-list" *ngIf="equipDocuments && equipDocuments.length > 0">
              <nz-table #docTable [nzData]="equipDocuments" [nzShowPagination]="false" nzSize="small">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên tài liệu</th>
                    <th>Loại</th>
                    <th>Kích thước</th>
                    <th>Ngày tải lên</th>
                    <th nzWidth="100px" nzAlign="center">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doc of docTable.data; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>
                      <a [href]="doc.path" target="_blank">{{ doc.filename }}</a>
                    </td>
                    <td>{{ doc.filetype || 'N/A' }}</td>
                    <td>{{ doc.filesize | number }} KB</td>
                    <td>{{ doc.createDate | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td nzAlign="center">
                      <a nz-tooltip nzTooltipTitle="Xóa" nz-button nzType="link" nzDanger
                        (click)="deleteDocument(doc.id)">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>

            <nz-empty *ngIf="!equipDocuments || equipDocuments.length === 0"
              nzNotFoundContent="Chưa có tài liệu cho thiết bị này"></nz-empty>
          </div>
        </nz-tab>
      </nz-tabset>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
