<nz-page-header nzBackIcon>
  <nz-page-header-title>Thiết bị</nz-page-header-title>
  <nz-page-header-subtitle>Danh sách thiết bị</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
        <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="search"></span>
        </button>
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </nz-space>
      <button *ngIf="_global.checkPermissions('R.3.7.3')"   (click)="openCreate()" class="!flex !items-center space-btn" nzType="primary" nz-button>
        <span nz-icon nzType="plus-circle"></span> Thêm mới
      </button>
      <button *ngIf="_global.checkPermissions('R.3.7.4')"   (click)="exportExcel()" class="!flex !items-center !border-l-0"
        style="margin-left: 2%; background-color: #1f7937; color: white;" nz-button>
        <span nz-icon nzType="file-excel"></span>Xuất Excel
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div nz-row [nzGutter]="12" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Khu vực chức năng" [(ngModel)]="filter.tplnr"
            (ngModelChange)="search()">
            <nz-option cdkScrollable *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Loại thiết bị</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Loại thiết bị" [(ngModel)]="filter.eqtyp"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqCat" [nzLabel]="item.eqtyp+ ' - '+item.eqtypTxt"
              [nzValue]="item.eqtyp">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Nhóm thiết bị</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nhóm thiết bị" [(ngModel)]="filter.eqart"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart+ ' - '+item.eqartTxt"
              [nzValue]="item.eqart">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Bộ phận bảo trì</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Bộ phận bảo trì" [(ngModel)]="filter.arbpl"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
              [nzValue]="item.arbpl">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đơn vị bảo trì</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Đơn vị bảo trì" [(ngModel)]="filter.iwerk"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstPlant"
                        [nzLabel]="item.iwerk + ' - ' +item.iwerkTxt" [nzValue]="item.iwerk">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Trạng thái sử dụng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái sử dụng" [(ngModel)]="filter.statAct"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstUsageStatus" [nzLabel]="item.code+ ' - '+item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Trạng thái hoạt động</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái hoạt động" [(ngModel)]="filter.statusTh"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstActiveStatus" [nzLabel]="item.code+ ' - '+item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>


  </nz-page-header-content>
  <nz-page-header-content class="main-content" style="height: calc(-344px + 100vh);" *ngIf="_global.checkPermissions('R.3.7.1')"   >
    <nz-table nzBordered [nzSize]="'middle'" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false"
      nzBordered [nzSize]="'middle'" >
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th>Mã thiết bị</th>
          <th>Tên thiết bị</th>
          <th>Loại thiết bị</th>
          <th>Nhóm thiết bị</th>
          <th>Bộ phận quản lý</th>
          <th>Khu vực chức năng</th>
          <th>Tổ đội bảo trì</th>
          <th>Ngày bảo trì gần nhất</th>
          <th>Mã tài sản cố định</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (click)="openEdit(data)">
          <td>{{(paginationResult.currentPage - 1) * paginationResult.pageSize +i +1}}</td>
          <td><a (click)="openEdit(data)">{{ data.equnr }}</a></td>
          <td>{{data.eqktx}}</td>
          <td>{{_global.getNameEqCat(lstEqCat, data.eqtyp)}}</td>
          <td>{{_global.getNameEqGroup(lstEqGroup, data.eqart)}}</td>
          <td>{{data.ingrp}}</td>
          <td>{{_global.getNameFloc(lstFloc, data.tplnr)}}</td>
          <td>{{data.arbpl}}</td>
          <td>{{data.lastMaintenanceDate}}</td>
          <td>{{data.anlnr}}</td>
          <td nzAlign="center">
            <nz-tag nzColor="success" *ngIf="data.isActive">
              <nz-icon nzType="check-circle" />
              <span>Kích hoạt</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="!data.isActive">
              <nz-icon nzType="close-circle" />
              <span>Khoá</span>
            </nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>
</nz-page-header>

<nz-drawer nzWidth="80%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">

      <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
        <nz-tab nzTitle="Thông tin">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear label="Mã thiết bị" [control]="$any(validateForm).controls['equnr']" [required]="true"
                  [disabled]="edit ? true : false"></app-input-clear>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear label="Tên thiết bị"
                  [control]="$any(validateForm).controls['eqktx']"></app-input-clear>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Đơn vị bảo trì</nz-form-label>
                  <nz-form-control>
                    <nz-select nzShowSearch nzAllowClear formControlName="iwerk">
                      <nz-option cdkScrollable *ngFor="let item of lstPlant"
                        [nzLabel]="item.iwerk + ' - ' +item.iwerkTxt" [nzValue]="item.iwerk">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Khu vực chức năng</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="tplnr">
                      <nz-option cdkScrollable *ngFor="let item of lstFloc"
                        [nzLabel]="item.tplnr + ' - ' + item.descript" [nzValue]="item.tplnr">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear label="Bộ phận lập kế hoạch"
                  [control]="$any(validateForm).controls['ingrp']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Loại thiết bị</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="eqtyp">
                      <nz-option cdkScrollable *ngFor="let item of lstEqCat"
                        [nzLabel]="item.eqtyp + ' - '+item.eqtypTxt" [nzValue]="item.eqtyp">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Nhóm thiết bị</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Nhóm thiết bị" formControlName="eqart">
                      <nz-option cdkScrollable *ngFor="let item of lstEqGroup"
                        [nzLabel]="item.eqart+ ' - '+item.eqartTxt" [nzValue]="item.eqart">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Nhóm phụ</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="eqartSub">
                      <nz-option cdkScrollable *ngFor="let item of lstEqGroup"
                        [nzLabel]="item.eqart+ ' - '+item.eqartTxt" [nzValue]="item.eqart">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Mã thiết bị cha</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Mã thiết bị cha" formControlName="hequi">
                      <nz-option cdkScrollable *ngFor="let item of lstEquip" [nzLabel]="item.equnr+' - '+item.eqktx"
                        [nzValue]="item.equnr">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Bộ phận bảo trì</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="arbpl">
                      <nz-option cdkScrollable *ngFor="let item of lstEqWc"
                        [nzLabel]="item.arbpl + ' - ' + item.arbplTxt" [nzValue]="item.arbpl">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Trạng thái sử dụng</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="statAct">
                      <nz-option cdkScrollable *ngFor="let item of lstUsageStatus"
                        [nzLabel]="item.code + ' - ' + item.name" [nzValue]="item.code">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Trạng thái hoạt động</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="statusTh">
                      <nz-option cdkScrollable *ngFor="let item of lstActiveStatus"
                        [nzLabel]="item.code + ' - ' + item.name" [nzValue]="item.code">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Main Asset Number" label="Main Asset Number"
                  [control]="$any(validateForm).controls['anlnr']"></app-input-clear>
              </div>
            </div>


            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear placeholder="Asset Subnumber" label="Asset Subnumber"
                  [control]="$any(validateForm).controls['anlun']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-input-clear label="Nhóm đặc tính"
                  [control]="$any(validateForm).controls['class']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Ngày sử dụng thiết bị</nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="inbdt" [nzPlaceHolder]="'Chọn ngày'"
                      style="width: 100%;"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

          </div>
        </nz-tab>
        <nz-tab nzTitle="Hình ảnh">
          <div class="image-upload-container">
            <div class="upload-section" *ngIf="edit || !edit">
              <nz-upload nzType="drag"
                [nzAction]="environment.apiUrl + '/EquipPic/Upload?equnr=' + (currentEquipCode || validateForm.get('equnr')?.value || '')"
                [nzName]="'file'" [nzBeforeUpload]="beforePicUpload" [nzShowUploadList]="false"
                (nzChange)="handlePicUploadChange($event)"
                [nzDisabled]="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)">
                <p class="ant-upload-drag-icon">
                  <span nz-icon nzType="picture" nzTheme="outline"></span>
                </p>
                <p class="ant-upload-text">Nhấp hoặc kéo file ảnh để tải lên</p>
                <p class="ant-upload-hint">Hỗ trợ các định dạng file ảnh: JPG, PNG, GIF...</p>
                <nz-alert
                  *ngIf="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)"
                  nzType="warning" nzMessage="Vui lòng nhập mã thiết bị trước khi tải ảnh lên" nzShowIcon></nz-alert>
              </nz-upload>
            </div>

            <nz-divider *ngIf="equipPictures && equipPictures.length > 0" nzText="Danh sách hình ảnh đã đính kèm"
              nzOrientation="left"></nz-divider>

            <div class="image-gallery" *ngIf="equipPictures && equipPictures.length > 0">
              <nz-card nzHoverable style="width: 220px;" class="image-card" *ngFor="let pic of equipPictures">
                <img [src]="pic.path" alt="Equipment Image" (click)="previewImage = pic.path; previewVisible = true;" />
                <div class="image-actions">
                  <button nz-button nzType="text" nzDanger (click)="deletePicture(pic.id)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </div>
              </nz-card>
            </div>

            <nz-empty *ngIf="!equipPictures || equipPictures.length === 0"
              nzNotFoundContent="Chưa có hình ảnh cho thiết bị này"></nz-empty>
          </div>

          <!-- Image preview -->
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="handlePreviewCancel()">
            <ng-template #modalContent>
              <img [src]="previewImage" style="width: 100%;" />
            </ng-template>
          </nz-modal>
        </nz-tab>
        <nz-tab nzTitle="Thông số kỹ thuật">
          <nz-table #charTable [nzShowPagination]="false" nzSize="small" [nzData]="lstEqChar">
            <thead>
              <tr>
                <th>STT</th>
                <th style="width: 20%">Nhóm đặc tính</th>
                <th style="width: 20%">Đặc tính</th>
                <th>Giá trị</th>
                <th>Mô tả thêm</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of charTable.data; let i = index">
                <td>{{ 1 + i}}</td>
                <td>
                  <nz-select nzShowSearch [(ngModel)]="data.classH" [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="onChangeClassH($event)">
                    <nz-option *ngFor="let item of lstClassH" [nzLabel]="item.class + ' - '+item.classTxt"
                      [nzValue]="item.class">
                    </nz-option>
                  </nz-select>
                </td>
                <td>
                  <nz-select nzShowSearch [(ngModel)]="data.classD" [ngModelOptions]="{ standalone: true }">
                    <nz-option *ngFor="let item of lstClassDSelect" [nzLabel]="item.atnam + ' - '+item.aname"
                      [nzValue]="item.id">
                    </nz-option>
                  </nz-select>
                </td>
                <td><input type="text" nz-input [(ngModel)]="data.value" [ngModelOptions]="{ standalone: true }"></td>
                <td><input type="text" nz-input [(ngModel)]="data.note" [ngModelOptions]="{ standalone: true }"></td>
              </tr>
            </tbody>
          </nz-table>
          <div style="display: flex; justify-content: center; margin-top: 20px;">
            <button type="button" nz-button nzType="dashed" (click)="addEqChar()">
              <nz-icon nzType="plus" />
              Thêm thông số
            </button>
          </div>
        </nz-tab>

        <nz-tab nzTitle="File đính kèm">
          <div class="document-upload-container">
            <div class="upload-section" *ngIf="edit || !edit">

              <nz-upload nzType="drag"
                [nzAction]="environment.apiUrl + '/EquipDoc/Upload?equnr=' + (currentEquipCode || validateForm.get('equnr')?.value || '') + (selectedDocType ? '&docType=' + selectedDocType : '')"
                [nzName]="'file'" [nzBeforeUpload]="beforeDocUpload" [nzShowUploadList]="false"
                (nzChange)="handleDocUploadChange($event)"
                [nzDisabled]="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)">
                <p class="ant-upload-drag-icon">
                  <span nz-icon nzType="file" nzTheme="outline"></span>
                </p>
                <p class="ant-upload-text">Nhấp hoặc kéo file để tải lên</p>
                <p class="ant-upload-hint">Hỗ trợ tất cả các loại tài liệu: PDF, DOCX, XLSX...</p>
                <nz-alert
                  *ngIf="!currentEquipCode && (!validateForm.get('equnr')?.value || validateForm.get('equnr')?.invalid)"
                  nzType="warning" nzMessage="Vui lòng nhập mã thiết bị trước khi tải tài liệu lên"
                  nzShowIcon></nz-alert>
              </nz-upload>
            </div>

            <nz-divider *ngIf="equipDocuments && equipDocuments.length > 0" nzText="Danh sách tài liệu đã đính kèm"
              nzOrientation="left"></nz-divider>

            <div class="document-list" *ngIf="equipDocuments && equipDocuments.length > 0">
              <nz-table #docTable [nzData]="equipDocuments" [nzShowPagination]="false" nzSize="small">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên tài liệu</th>
                    <th>Loại</th>
                    <th>Kích thước</th>
                    <th>Ngày tải lên</th>
                    <th nzWidth="100px" nzAlign="center">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doc of docTable.data; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>
                      <a [href]="doc.path" target="_blank">{{ doc.filename }}</a>
                    </td>
                    <td>{{ doc.filetype || 'N/A' }}</td>
                    <td>{{ doc.filesize | number }} KB</td>
                    <td>{{ doc.createDate | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td nzAlign="center">
                      <a nz-tooltip nzTooltipTitle="Xóa" nz-button nzType="link" nzDanger
                        (click)="deleteDocument(doc.id)">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>

            <nz-empty *ngIf="!equipDocuments || equipDocuments.length === 0"
              nzNotFoundContent="Chưa có tài liệu cho thiết bị này"></nz-empty>
          </div>
        </nz-tab>

        <nz-tab nzTitle="Vị trí thiết bị">
          <div id="equip-map" style="height: calc(100vh - 200px);"></div>
        </nz-tab>
      </nz-tabset>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="default" style="background-color: #ffa400; color: white;"
      class="!flex !items-center" (click)="createIncident()">
      <span nz-icon nzType="warning" nzTheme="outline"></span>Tạo sự cố
    </button>
    <ng-container *ngIf="edit && _global.checkPermissions('R.3.7.2')">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>