<div class="main-home">
  <div class="control">
    <div class="control-btn bg-blue" (click)="changeRoute('incident/create')">
      <div><nz-icon nzType="appstore-add" nzTheme="outline" /></div>
      <div>TẠO SỰ CỐ</div>
    </div>
    <div class="control-btn bg-green" (click)="changeRoute('incident/approval')">
      <div><nz-icon nzType="file-done" nzTheme="outline" /></div>
      <div>PHÊ DUYỆT</div>
    </div>
  </div>
  <div nz-row [nzGutter]="12">
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('plan/list-order')">
      <div class="inner-box bg-orange">
        <div>
          <nz-icon nzType="warning" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê bảo trì bảo dưỡng</div>
          <div class="title-card-1">{{dataDashboard.order1}}</div>
          <div class="title-card-2">Lệnh phát sinh mới</div>

        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('plan/list-order')">
      <div class="inner-box bg-yellow">
        <div>
          <nz-icon nzType="history" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê bảo trì bảo dưỡng</div>
          <div class="title-card-1">{{dataDashboard.order2}}</div>
          <div class="title-card-2">Lệnh trễ hạn</div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('plan/list-order')">
      <div class="inner-box bg-blue">
        <div>
          <nz-icon nzType="control" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê bảo trì bảo dưỡng</div>
          <div class="title-card-1">{{dataDashboard.order3}}</div>
          <div class="title-card-2">Đang thực hiện</div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('plan/list-order')">
      <div class="inner-box bg-blue">
        <div>
          <nz-icon nzType="file-done" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê bảo trì bảo dưỡng</div>
          <div class="title-card-1">{{dataDashboard.order4}}</div>
          <div class="title-card-2">Hoàn thành</div>
        </div>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="12">
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('incident/list')">
      <div class="inner-box bg-orange">
        <div>
          <nz-icon nzType="warning" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê sự cố</div>
          <div class="title-card-1">{{dataDashboard.noti1}}</div>
          <div class="title-card-2">Sự cố phát sinh</div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('incident/list')">
      <div class="inner-box bg-yellow">
        <div>
          <nz-icon nzType="history" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê sự cố</div>
          <div class="title-card-1">{{dataDashboard.noti2}}</div>
          <div class="title-card-2">Số lệnh trễ hạn</div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('incident/list')">
      <div class="inner-box bg-blue">
        <div>
          <nz-icon nzType="control" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê sự cố</div>
          <div class="title-card-1">{{dataDashboard.noti3}}</div>
          <div class="title-card-2">Đang thực hiện</div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" (click)="changeRoute('incident/list')">
      <div class="inner-box bg-blue">
        <div>
          <nz-icon nzType="file-done" nzTheme="outline" class="icon-card" />
        </div>
        <div class="title-card">
          <div>Thống kê sự cố</div>
          <div class="title-card-1">{{dataDashboard.noti4}}</div>
          <div class="title-card-2">Phát sinh mới</div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
      <div id="donutchart" style="width: 100%; height: 360px;"></div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="16">
     <div id="chart_div" style="width: 100%; height: 360px; overflow-x: auto; overflow-y: hidden;"></div>

    </div>
  </div>
  <div>
    <nz-divider nzText="DANH SÁCH LỆNH BẢO DƯỠNG THEO KẾ HOẠCH" nzOrientation="left"></nz-divider>
    <nz-table nzBordered [nzSize]="'middle'" [nzData]="paginationResult.data" class="auto-scroll-table"
      [nzShowPagination]="false" [nzFrontPagination]="false" #headerTable>
      <thead>
        <tr>
          <th>Mã yêu cầu</th>
          <th>Nội dung</th>
          <th>Ngày ghi nhận</th>
          <th>Ngày hoàn thành</th>
          <th>Bộ phận thực hiện</th>
          <th>Người tạo sự cố</th>
          <th>Người sửa chữa</th>
          <th>Khu vực phát sinh</th>
          <th>Tên thiết bị</th>
          <th>Mức độ ưu tiên</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <tr *ngFor="let data of paginationResult.data; let i = index">
          <td>{{ data.qmnum }}</td>
          <td>{{ data.qmtxt }}</td>
          <td>{{ data.qmdat | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ data.ltrmn | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ getNameWc(data.arbpl) }}</td>
          <td>{{ getFullNameUser(data.qmnam) }}</td>
          <td>{{ getFullNameUser(data.staffSc) }}</td>
          <td>{{ getFlocName(data.tplnr) }}</td>
          <td>{{ getNameEquip(data.equnr) }}</td>
          <td>{{ getPriorityText(data.priok) }}</td>
          <td>
            <nz-tag *ngIf="data.statAct == '01'" nzColor="processing">Chờ duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '02'" nzColor="success">Phê duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '03'" nzColor="error">Từ chối</nz-tag>
            <nz-tag *ngIf="data.statAct == '04'" nzColor="success">Hoàn thành</nz-tag>
            <nz-tag *ngIf="data.statAct == '05'" nzColor="default">Đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '06'" nzColor="error">Từ chối đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '07'" nzColor="processing">Đang thực hiện</nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div *ngIf="paginationResult?.data" class="paging">
      <nz-pagination nzShowSizeChanger [nzShowTotal]="totalTemplate" [nzPageIndex]="filter.currentPage"
        [nzTotal]="paginationResult.totalRecord" [nzPageSize]="filter.pageSize"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>Tổng số {{ paginationResult.totalRecord }} mục</ng-template>
    </div>
  </div>

  <div>
    <nz-divider nzText="DANH SÁCH SỰ CỐ PHÁT SINH" nzOrientation="left"></nz-divider>
    <nz-table nzBordered [nzSize]="'middle'" [nzData]="paginationResult.data" class="auto-scroll-table"
      [nzShowPagination]="false" [nzFrontPagination]="false" #headerTable>
      <thead>
        <tr>
          <th>Mã yêu cầu</th>
          <th>Nội dung</th>
          <th>Ngày ghi nhận</th>
          <th>Ngày hoàn thành</th>
          <th>Bộ phận thực hiện</th>
          <th>Người tạo sự cố</th>
          <th>Người sửa chữa</th>
          <th>Khu vực phát sinh</th>
          <th>Tên thiết bị</th>
          <th>Mức độ ưu tiên</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <tr *ngFor="let data of paginationResult.data; let i = index">
          <td>{{ data.qmnum }}</td>
          <td>{{ data.qmtxt }}</td>
          <td>{{ data.qmdat | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ data.ltrmn | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ getNameWc(data.arbpl) }}</td>
          <td>{{ getFullNameUser(data.qmnam) }}</td>
          <td>{{ getFullNameUser(data.staffSc) }}</td>
          <td>{{ getFlocName(data.tplnr) }}</td>
          <td>{{ getNameEquip(data.equnr) }}</td>
          <td>{{ getPriorityText(data.priok) }}</td>
          <td>
            <nz-tag *ngIf="data.statAct == '01'" nzColor="processing">Chờ duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '02'" nzColor="success">Phê duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '03'" nzColor="error">Từ chối</nz-tag>
            <nz-tag *ngIf="data.statAct == '04'" nzColor="success">Hoàn thành</nz-tag>
            <nz-tag *ngIf="data.statAct == '05'" nzColor="default">Đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '06'" nzColor="error">Từ chối đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '07'" nzColor="processing">Đang thực hiện</nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div *ngIf="paginationResult?.data" class="paging">
      <nz-pagination nzShowSizeChanger [nzShowTotal]="totalTemplate" [nzPageIndex]="filter.currentPage"
        [nzTotal]="paginationResult.totalRecord" [nzPageSize]="filter.pageSize"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>Tổng số {{ paginationResult.totalRecord }} mục</ng-template>
    </div>
  </div>
</div>
