<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>KẾ HOẠCH BẢO TRÌ ĐƠN</nz-page-header-title>
  <nz-page-header-subtitle>Tạo mới thông tin kế hoạch bảo trì đơn</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <button *nzSpaceItem nz-button nzType="primary"><nz-icon nzType="save" nzTheme="outline" /> Lưu dữ liệu</button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content class="content">
    <div nz-row [nzGutter]="16" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Mã kế hoạch</label>
          <input nz-input [(ngModel)]="model.warpl" (ngModelChange)="onChangeCode($event)">
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Tên kế hoạch</label>
          <input nz-input [(ngModel)]="model.wptxt" (ngModelChange)="onChangeName($event)">
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Loại kế hoạch</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.mpgrp">
            <nz-option *ngFor="let item of lstMpgrp" [nzLabel]="item.value + ' - ' + item.name" [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Kiểu lập</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.cyctype">
            <nz-option *ngFor="let item of lstCyctype" [nzLabel]="item.value + ' - ' + item.name"
              [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </div>

      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear placeholder="Khu vực chức năng" [(ngModel)]="model.tplnr"
            (ngModelChange)="onChangeFloc($event)">
            <nz-option *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đơn vị đo</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.cycunit" (ngModelChange)="onChangePlan()">
            <nz-option *ngFor="let item of lstCycunit" [nzLabel]="item.value + ' - ' + item.name"
              [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="2">
        <div class="inner-box">
          <label>Tần suất</label>
          <input nz-input type="number" [(ngModel)]="model.cycle" (ngModelChange)="onChangePlan()">
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="4">
        <div class="inner-box">
          <label>Thời gian hiệu lực (năm)</label>
          <input nz-input type="number" [(ngModel)]="model.cycef" (ngModelChange)="onChangePlan()">
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Ngày bắt đầu kế hoạch</label>
          <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'" [(ngModel)]="model.stdate"
            (ngModelChange)="onChangePlan()"></nz-date-picker>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Chỉ số hoạt động</label>
          <app-input-clear nz-input type="number"></app-input-clear>
        </div>
      </div>



      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Mã check list</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.plnnr" (ngModelChange)="OnChangeCheckList($event)">
            <nz-option *ngFor="let item of lstChecklist" [nzLabel]="item.plnnr + ' - ' + item.ktext"
              [nzValue]="item.plnnr">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Bộ phận lập kế hoạch</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.tplnr">
            <nz-option *ngFor="let item of lstPlgrp" [nzLabel]="item.ingrp + ' - ' + item.ingrpTxt"
              [nzValue]="item.ingrp">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Bộ phận thực hiện</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.tplnr">
            <nz-option *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt" [nzValue]="item.arbpl">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Loại lệnh</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.tplnr">
            <nz-option *ngFor="let item of lstOrderType" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label nz-checkbox>Kế hoạch kết hợp</label>
        </div>
      </div>
    </div>
    <nz-tabset>
      <nz-tab nzTitle="Thiết bị lập kế hoạch">
        <nz-table nzBordered [nzSize]="'middle'" #equipTable [nzData]="lstEquipPlan" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th style="width: 30%;">Chọn thiết bị (Mã - Tên)</th>
              <th>Khu vực chức năng</th>
              <th>Nhóm thiết bị</th>
              <th>Bộ phận phụ trách</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of equipTable.data; let i = index">
              <td>
                <nz-select nzShowSearch nzAllowClear placeholder="Thiết bị" [(ngModel)]="data.equnr"
                  (ngModelChange)="changeEquip($event, data)">
                  <nz-option *ngFor="let item of lstEquipSelect" [nzLabel]="item.equnr + ' - ' + item.eqktx"
                    [nzValue]="item.equnr">
                  </nz-option>
                </nz-select>
              </td>
              <td>{{getNameFloc(data.tplnr)}}</td>
              <td>{{getNameEqGroup(data.eqart)}}</td>
              <td>{{getNamePlgrp(data.ingrp)}}</td>
            </tr>
          </tbody>
        </nz-table>
        <div style="display: flex; justify-content: center;">
          <button nz-button nzType="dashed" (click)="addEquip()">
            <nz-icon nzType="plus" />
            Thêm thiết bị
          </button>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Tác vụ thực hiện">
        <nz-table nzBordered [nzSize]="'middle'" #checklistTable [nzData]="lstTask" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th>Mã bước</th>
              <th>Thứ tự</th>
              <th>Tên tác vụ</th>
              <th>Bộ phận thực hiện</th>
              <th>Thời gian thực hiện</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of checklistTable.data; let i = index">
              <td>{{ data.vornr }}</td>
              <td>{{ i + 1 }}</td>
              <td>{{ data.ltxa1 }}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </nz-table>

      </nz-tab>
      <nz-tab nzTitle="Kế hoạch dự kiến">
        <nz-table nzBordered [nzSize]="'middle'" #plandTable [nzData]="lstPlan" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th>Mã kế hoạch</th>
              <th>Tên kế hoạch</th>
              <th>Khu vực chức năng</th>
              <th>Ngày dự kiến</th>
              <th>Số lệnh</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of plandTable.data; let i = index">
              <td>{{ data.warpl}}</td>
              <td>{{ data.wptxt }}</td>
              <td>{{getNameFloc(data.tplnr)}}</td>
              <td>{{ data.schstart }}</td>
              <td></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-page-header-content>
</nz-page-header>
