.action-td{
  display: flex;
  gap: 12px; /* Khoảng cách giữa các nút */
  align-items: center; /* Căn giữa theo chiều dọc nếu cần */
}

.btn-check{
  border-color: green;
    background: green;
}

nz-select, nz-date-picker{
  width: 100%;
}
.gutter-row{
  margin-bottom: 12px;
}


.ant-row{
  margin: 0 !important;
}

.button-template{
  margin-left: 12px;
}

