<nz-page-header nzBackIcon>
  <nz-page-header-title>LỆNH SỬA CHỮA</nz-page-header-title>
  <nz-page-header-subtitle>Danh sách lệnh sửa chữa</nz-page-header-subtitle>
  <nz-page-header-content>
    <div nz-row [nzGutter]="12" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Khu vực chức năng" (ngModelChange)="search()">
            <nz-option cdkScrollable *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Nhóm thiết bị</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nhóm thiết bị" (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart+ ' - '+item.eqartTxt"
              [nzValue]="item.eqart">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đơn vị quản lý</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Đơn vị quản lý" (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstPlgrp" [nzLabel]="item.ingrp+ ' - '+item.ingrpTxt"
              [nzValue]="item.ingrp">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Thiết bị</label>
          <nz-select nzShowSearch nzAllowClear placeholder="Thiết bị">
            <nz-option *ngFor="let item of lstEquip" [nzLabel]="item.equnr + ' - ' + item.eqktx" [nzValue]="item.equnr">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Ngày yêu cầu hoàn thành</label>
          <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'"></nz-date-picker>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>đến ngày</label>
          <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'"></nz-date-picker>
        </div>
      </div>
    </div>


  </nz-page-header-content>
  <nz-page-header-content class="main-content" style="height: calc(-332px + 100vh);">
    <nz-table nzBordered [nzSize]="'middle'" [nzData]="paginationResult.data" class="auto-scroll-table"
      [nzShowPagination]="false" [nzFrontPagination]="false" #headerTable>
      <thead>
        <tr>
          <th [nzChecked]="checked"></th>
          <th>Mã lệnh</th>
          <th>Nội dung</th>
          <th>Mã yêu cầu</th>
          <th>Ngày ghi nhận</th>
          <th>Ngày hoàn thành</th>
          <th>Bộ phận thực hiện</th>
          <th>Người tạo sự cố</th>
          <th>Người sửa chữa</th>
          <th>Khu vực phát sinh</th>
          <th>Tên thiết bị</th>
          <th>Mức độ ưu tiên</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <tr *ngFor="let data of paginationResult.data; let i = index">
          <td [nzChecked]="false"></td>
          <td (click)="openEditOrder(data)"><a>{{ data.aufnr }}</a></td>
          <td>{{ data.ktext }}</td>
          <td>{{ data.qmnum }}</td>
          <td>{{ data.erdat | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ data.gltri | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ getNameWc(data.arbpl) }}</td>
          <td>{{ getFullNameUser(data.ernam) }}</td>
          <td>{{ getFullNameUser(data.staffSc) }}</td>
          <td>{{ getNameFloc(data.tplnr) }}</td>
          <td>{{ getNameEquip(data.equnr) }}</td>
          <td>{{ getPriorityText(data.priok) }}</td>
          <td>
            <nz-tag *ngIf="data.statAct == '01'" nzColor="processing">Chờ duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '02'" nzColor="success">Phê duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '03'" nzColor="error">Từ chối</nz-tag>
            <nz-tag *ngIf="data.statAct == '04'" nzColor="success">Hoàn thành</nz-tag>
            <nz-tag *ngIf="data.statAct == '05'" nzColor="default">Đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '06'" nzColor="error">Từ chối đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '07'" nzColor="processing">Đang thực hiện</nz-tag>
          </td>

        </tr>
      </tbody>
    </nz-table>

  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzShowTotal]="totalTemplate" [nzPageIndex]="filter.currentPage"
        [nzTotal]="paginationResult.totalRecord" [nzPageSize]="filter.pageSize"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>Tổng số {{ paginationResult.totalRecord }} mục</ng-template>
    </div>
  </nz-page-header-content>
</nz-page-header>


<!-- Chi tiết lệnh -->
<nz-drawer nzWidth="100%" [nzVisible]="visibleOrder" nzPlacement="right"
  [nzTitle]="`CHI TIẾT LỆNH ${model.aufnr} - ${model.ktext}`" [nzExtra]="extra" (nzOnClose)="closeOrder()">
  <ng-container *nzDrawerContent>

    <nz-tabset>
      <nz-tab nzTitle="Chi tiết lệnh">
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Mã yêu cầu</label>
              <app-input-clear [value]="model.qmnum" [(ngModel)]="model.qmnum" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Nội dung yêu cầu</label>
              <app-input-clear [value]="model.ktext" [(ngModel)]="model.ktext" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Mã lệnh</label>
              <app-input-clear [value]="model.aufnr" [(ngModel)]="model.aufnr" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Nội dung thực hiện</label>
              <app-input-clear [value]="model.ktext" [(ngModel)]="model.ktext" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Mã thiết bị</label>
              <app-input-clear [value]="model.equnr" [(ngModel)]="model.equnr" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Tên thiết bị</label>
              <app-input-clear [value]="model.equipName" [(ngModel)]="model.equipName"
                [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Khu vực chức năng</label>
              <app-input-clear [value]="model.tplnr" [(ngModel)]="model.tplnr" [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Tên Khu vực chức năng</label>
              <app-input-clear [value]="model.flocName" [(ngModel)]="model.flocName"
                [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Mã tài sản</label>
              <app-input-clear [disabled]="true"></app-input-clear>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Tên tài sản</label>
              <app-input-clear [disabled]="true"></app-input-clear>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Ngày kế hoạch bắt đầu</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'"
                [(ngModel)]="model.gstrs"></nz-date-picker>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Ngày kế hoạch kết thúc</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'"
                [(ngModel)]="model.gltrs"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Ngày thực tế bắt đầu</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'"
                [nzDisabled]="true"></nz-date-picker>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Ngày thực tế kết thúc</label>
              <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzPlaceHolder]="'Chọn ngày'"
                [nzDisabled]="true"></nz-date-picker>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Trạng thái lệnh</label>
              <input nz-input [disabled]="true">
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Hình thức thực hiện</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.htBtbd">
                <nz-option *ngFor="let item of lstHTBTBD" [nzLabel]="item.value + ' - ' + item.name"
                  [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Người thực hiện</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.staffSc">
                <nz-option *ngFor="let item of lstUser" [nzLabel]="item.userName + ' - ' + item.fullName"
                  [nzValue]="item.userName">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Đơn vị thực hiện</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.arbpl">
                <nz-option *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
                  [nzValue]="item.arbpl">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Đơn vị quản lý</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.ingpr">
                <nz-option *ngFor="let item of lstPlgrp" [nzLabel]="item.ingrp + ' - ' + item.ingrpTxt"
                  [nzValue]="item.ingrp">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Đơn vị sử dụng</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.arbpl">
                <nz-option *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
                  [nzValue]="item.arbpl">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Loại vật tư, chi phí sử dụng</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.loaivtSd">
                <nz-option *ngFor="let item of lstLVTSD" [nzLabel]="item.value + ' - ' + item.name"
                  [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
              <label>Loại hoạt động bảo trì</label>
              <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.ilart">
                <nz-option *ngFor="let item of lstILART" [nzLabel]="item.value + ' - ' + item.name"
                  [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </div>
          </div>



        </div>
      </nz-tab>
      <nz-tab nzTitle="Danh sách thiết bị">
        <nz-table #EquiqTable [nzShowPagination]="false" nzSize="small" [nzData]="lstEquipOrder">
          <thead>
            <tr>
              <th>Mã thiết bị</th>
              <th>Tên thiết bị</th>
              <th>Số serial</th>
              <th>Ngày thực hiện</th>
              <th>Ngày hoàn thành</th>
              <th>Trạng thái thiết bị</th>
              <th>Trạng thái hoạt động</th>
              <th>Trạng thái thực hiện</th>
              <th>Người thực hiện</th>
              <th>Nội dung xác nhận</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of EquiqTable.data; let i = index">
              <td>{{data.equnr}}</td>
              <td>{{getEquipmentCategoryName(data.equnr)}}</td>
              <td></td>
              <td>
                <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.datab"
                  [nzShowTime]="true"></nz-date-picker>
              </td>

              <td>
                <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.datbi"
                  [nzShowTime]="true"></nz-date-picker>
              </td>

              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.status">
                  <nz-option *ngFor="let item of lstUsageStatus" [nzValue]="item.code"
                    [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.statusTb">
                  <nz-option *ngFor="let item of lstActiveStatus" [nzValue]="item.code"
                    [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.statusTh">
                  <nz-option *ngFor="let item of lstTTTH" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.staffTh">
                  <nz-option *ngFor="let item of lstUser" [nzValue]="item.userName"
                    [nzLabel]="item.fullName"></nz-option>
                </nz-select>
              </td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.note" />
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Tác vụ theo lệnh">Content of Tab Pane 3</nz-tab>
      <nz-tab nzTitle="Phân tích sự cố">
        <nz-table #catalogTable [nzShowPagination]="false" nzSize="small" [nzData]="lstNotiCatalog">
          <thead>
            <tr>
              <th style="width: 20%;">Thành phần hư hỏng</th>
              <th style="width: 20%;">Loại sự cố</th>
              <th style="width: 20%;">Nguyên nhân</th>
              <th style="width: 20%;">Hành động khắc phục</th>
              <th style="width: 20%;">Biện pháp phòng ngừa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of catalogTable.data; let i = index">
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.objpart">
                  <nz-option *ngFor="let item of lstCatalogTypeB" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.typeCode">
                  <nz-option *ngFor="let item of lstCatalogTypeC" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.causeCode">
                  <nz-option *ngFor="let item of lstCatalogType5" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.taskCode">
                  <nz-option *ngFor="let item of lstCatalogType2" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.actCode">
                  <nz-option *ngFor="let item of lstCatalogTypeA" [nzValue]="item.id"
                    [nzLabel]="item.code + ' - ' + item.codeDes"></nz-option>
                </nz-select>
              </td>
            </tr>

          </tbody>
        </nz-table>
        <div style="display: flex; justify-content: center; margin-top: 20px;">
          <button nz-button nzType="dashed" (click)="addCatalogItem()">
            <nz-icon nzType="plus" />
            Thêm thành phần
          </button>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Vật tư sử dụng">
        <nz-table #itemTableS [nzShowPagination]="false" nzSize="small" [nzData]="lstItemOrderS">
          <thead>
            <tr>
              <th>Ngày xuất</th>
              <th style="width: 20%;">Tên vật tư</th>
              <th>Số lượng</th>
              <th>Đơn vị tính</th>
              <th>Nguồn</th>
              <th>Đơn giá</th>
              <th>Thành Tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of itemTableS.data; let i = index">
              <td><nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'" [nzPlaceHolder]="'Chọn ngày'" [(ngModel)]="data.budat"
                  [nzShowTime]="true"></nz-date-picker></td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.matnr"
                  (ngModelChange)="onMaterialChange($event, data)">
                  <nz-option *ngFor="let item of lstItem" [nzValue]="item.matnr"
                    [nzLabel]="item.matnr + ' - ' + item.maktx"></nz-option>
                </nz-select>
              </td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.menge" (ngModelChange)="calculateTotal(data)" />
              </td>
              <td><input type="text" nz-input [(ngModel)]="data.meins" [disabled]="true" /></td>
              <td><input type="text" nz-input [(ngModel)]="data.lgort" /></td>
              <td><input type="text" nz-input [(ngModel)]="data.price" (ngModelChange)="calculateTotal(data)" /></td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.dmbtr" [disabled]="true" />
              </td>
            
            </tr>
          </tbody>
        </nz-table>
        <div style="display: flex; justify-content: center; margin-top: 20px;">
          <button nz-button nzType="dashed" (click)="addOrderItem()">
            <nz-icon nzType="plus" />
            Thêm vật tư
          </button>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Mua ngoài/ thuê ngoài">
        <nz-table #itemTableM [nzShowPagination]="false" nzSize="small" [nzData]="lstItemOrderM">
          <thead>
            <tr>
              <th style="width: 20%;">Tên vật tư</th>
              <th>Số lượng</th>
              <th>Đơn vị tính</th>
              <th>Đơn giá</th>
              <th style="width: 20%;">Thành Tiền</th>
              <th>Nước sản xuất</th>
              <th>Chất lượng</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of itemTableM.data; let i = index">
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.matnr"
                  (ngModelChange)="onMaterialChange($event, data)">
                  <nz-option *ngFor="let item of lstItem" [nzValue]="item.matnr"
                    [nzLabel]="item.matnr + ' - ' + item.maktx"></nz-option>
                </nz-select>
              </td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.menge" (ngModelChange)="calculateTotal(data)" />
              </td>
              <td><input type="text" nz-input [(ngModel)]="data.meins" [disabled]="true" /></td>
              <td><input type="text" nz-input [(ngModel)]="data.price" (ngModelChange)="calculateTotal(data)" /></td>
              <td>
                <input type="text" nz-input [(ngModel)]="data.dmbtr" [disabled]="true" />
              </td>
              <td><input type="text" nz-input [(ngModel)]="data.lgort" /></td>
              <td><input type="text" nz-input [(ngModel)]="data.uname" /></td>
              <td>
                <a nz-tooltip nzTooltipTitle="Xóa" nz-button nzType="link" nzDanger (click)="removeOrderItemM(i)">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <div style="display: flex; justify-content: center; margin-top: 20px;">
          <button nz-button nzType="dashed" (click)="addOrderItemM()">
            <nz-icon nzType="plus" />
            Thêm vật tư
          </button>
        </div>
      </nz-tab>
      <nz-tab nzTitle="File đính kèm">
        <div class="">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="24">
              <nz-upload nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8"
                [nzPreview]="handlePreview" [nzRemove]="handleRemove" [nzCustomRequest]="customUploadRequest">
                <div>
                  <nz-icon nzType="plus"></nz-icon>
                  <div style="margin-top: 8px">Chọn file</div>
                </div>
              </nz-upload>

              <nz-modal [nzVisible]="previewVisible" [nzTitle]="previewTitle" [nzContent]="modalContent"
                [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                <ng-template #modalContent>
                  <img [src]="previewImage" style="width: 100%" />
                </ng-template>
              </nz-modal>
              <div class="document-list" *ngIf="fileListTable && fileListTable.length > 0">
                <h3 class="mt-4 mb-2">Danh sách file đính kèm</h3>
                <nz-table #docTable [nzData]="fileListTable" [nzShowPagination]="false" nzSize="small">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Tên tài liệu</th>
                      <th>Loại</th>
                      <th>Kích thước</th>
                      <th>Ngày tải lên</th>
                      <th nzWidth="100px" nzAlign="center">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let doc of docTable.data; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <a [href]="doc.url" target="_blank">{{ doc.name }}</a>
                      </td>
                      <td>{{ doc.fileType || 'N/A' }}</td>
                      <td>{{ doc.fileSize | number }} KB</td>
                      <td>{{ doc.createDate | date: 'dd/MM/yyyy HH:mm' }}</td>
                      <td nzAlign="center">
                        <a nz-tooltip nzTooltipTitle="Xóa" nz-button nzType="link" nzDanger
                          (click)="deleteDocument(doc)">
                          <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>

  </ng-container>
</nz-drawer>
<ng-template #extra>
  <button nz-button nzType="default" (click)="closeOrder()">Đóng</button>
  &nbsp;
  <button nz-button nzType="primary" (click)="updateOrder()">Cập nhật</button>
</ng-template>