<nz-page-header nzBackIcon>
  <nz-page-header-title>ĐIỀU ĐỘ KẾ HOẠCH</nz-page-header-title>
  <nz-page-header-subtitle>Điều độ kế hoạch</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <button class="!flex !items-center !border-l-0" nz-button (click)="genarateOrder()">
        <span nz-icon nzType="save"></span>Triển khai kế hoạch
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div nz-row [nzGutter]="12" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đơn vị bảo trì</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="filter.arbpl" (ngModelChange)="search()">
            <nz-option cdkScrollable *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
              [nzValue]="item.arbpl">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Nhóm thiết bị</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="filter.eqart" (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart+ ' - '+item.eqartTxt"
              [nzValue]="item.eqart">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="filter.tplnr" (ngModelChange)="search()">
            <nz-option cdkScrollable *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Thiết bị</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="filter.equnr" (ngModelChange)="search()">
            <nz-option *ngFor="let item of lstEquip" [nzLabel]="item.equnr + ' - ' + item.eqktx" [nzValue]="item.equnr">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Mã kế hoạch</label>
          <input nz-input [(ngModel)]="filter.warpl" (ngModelChange)="search()">
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đến ngày</label>
          <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="filter.schStart" (ngModelChange)="search()"
            [ngModelOptions]="{ standalone: true }">
          </nz-date-picker>
        </div>
      </div>
    </div>


  </nz-page-header-content>
  <nz-page-header-content class="main-content" style="height: calc(-332px + 100vh);">
    <nz-table nzBordered [nzSize]="'middle'" class="auto-scroll-table" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="lstOrderPlan">
      <thead>
        <tr>
          <th>STT</th>
          <th>Bộ phận</th>
          <th>Mã kế hoạch</th>
          <th>Tên kế hoạch</th>
          <th>Khu vực chức năng</th>
          <th>Ngày dự kiến</th>
          <th>Số lệnh</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <tr *ngFor="let data of lstOrderPlan; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ _global.getNameWc(lstWc, data.arbpl) }}</td>
          <td>{{ data.warpl }}</td>
          <td>{{ data.name }}</td>
          <td>{{ _global.getNameFloc(lstFloc, data.tplnr) }}</td>
          <td>{{ data.schStart | date: 'dd/MM/yyyy' }}</td>
          <td>{{ data.aufnr }}</td>
          <td>
              <nz-tag nzColor="processing" *ngIf="data.isComplete">Đã triển khai</nz-tag>
              <nz-tag nzColor="default" *ngIf="!data.isComplete">Chưa triển khai</nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </nz-page-header-content>
</nz-page-header>
