<nz-page-header nzBackIcon>
  <nz-page-header-title>LÝ LỊCH THIẾT BỊ</nz-page-header-title>
  <nz-page-header-subtitle>Danh sách thiết bị xem lý lịch</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
        <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="search"></span>
        </button>
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </nz-space>

      <button (click)="exportExcel()" class="!flex !items-center !border-l-0"
        style="margin-left: 2%; background-color: #1f7937; color: white;" nz-button>
        <span nz-icon nzType="file-excel"></span>Xuất Excel
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content>
     <div nz-row [nzGutter]="12" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Khu vực chức năng" [(ngModel)]="filter.tplnr"
            (ngModelChange)="search()">
            <nz-option cdkScrollable *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Loại thiết bị</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Loại thiết bị" [(ngModel)]="filter.eqtyp"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqCat" [nzLabel]="item.eqtyp+ ' - '+item.eqtypTxt"
              [nzValue]="item.eqtyp">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Nhóm thiết bị</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nhóm thiết bị" [(ngModel)]="filter.eqart"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqGroup" [nzLabel]="item.eqart+ ' - '+item.eqartTxt"
              [nzValue]="item.eqart">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Bộ phận bảo trì</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Bộ phận bảo trì" [(ngModel)]="filter.arbpl"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstEqWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt"
              [nzValue]="item.arbpl">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đơn vị bảo trì</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Đơn vị bảo trì" [(ngModel)]="filter.iwerk"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstPlant"
                        [nzLabel]="item.iwerk + ' - ' +item.iwerkTxt" [nzValue]="item.iwerk">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Trạng thái sử dụng</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái sử dụng" [(ngModel)]="filter.statAct"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstUsageStatus" [nzLabel]="item.code+ ' - '+item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Trạng thái hoạt động</label>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái hoạt động" [(ngModel)]="filter.statusTh"
            (ngModelChange)="search()">
            <nz-option option cdkScrollable *ngFor="let item of lstActiveStatus" [nzLabel]="item.code+ ' - '+item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>


  </nz-page-header-content>
  <nz-page-header-content class="main-content" style="height: calc(-344px + 100vh);">
    <nz-table nzBordered [nzSize]="'middle'" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false"
      nzBordered [nzSize]="'middle'">
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th>Mã thiết bị</th>
          <th>Tên thiết bị</th>
          <th>Loại thiết bị</th>
          <th>Nhóm thiết bị</th>
          <th>Bộ phận quản lý</th>
          <th>Khu vực chức năng</th>
          <th>Tổ đội bảo trì</th>
          <th>Ngày bảo trì gần nhất</th>
          <th>Mã tài sản cố định</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (click)="openEdit(data)">
          <td>{{(paginationResult.currentPage - 1) * paginationResult.pageSize +i +1}}</td>
          <td><a (click)="openEdit(data)">{{ data.equnr }}</a></td>
          <td>{{data.eqktx}}</td>
          <td>{{_global.getNameEqCat(lstEqCat, data.eqtyp)}}</td>
          <td>{{_global.getNameEqGroup(lstEqGroup, data.eqart)}}</td>
          <td>{{data.ingrp}}</td>
          <td>{{_global.getNameFloc(lstFloc, data.tplnr)}}</td>
          <td>{{data.arbpl}}</td>
          <td>{{data.lastMaintenanceDate}}</td>
          <td>{{data.anlnr}}</td>
          <td nzAlign="center">
            <nz-tag nzColor="success" *ngIf="data.isActive">
              <nz-icon nzType="check-circle" />
              <span>Kích hoạt</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="!data.isActive">
              <nz-icon nzType="close-circle" />
              <span>Khoá</span>
            </nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>
</nz-page-header>

<nz-drawer nzWidth="100%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="'LÝ LỊCH CHI TIẾT CỦA THIẾT BỊ'" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-tabset>
        <nz-tab nzTitle="Thông tin">
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <app-input-clear label="Mã thiết bị"
                  [control]="$any(validateForm).controls['equnr']" [required]="true"
                  [disabled]="true"></app-input-clear>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <app-input-clear label="Tên thiết bị"
                  [control]="$any(validateForm).controls['eqktx']" [disabled]="true"></app-input-clear>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Đơn vị bảo trì</nz-form-label>
                  <nz-form-control>
                    <nz-select nzShowSearch nzAllowClear
                      formControlName="iwerk" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstPlant"
                        [nzLabel]="item.iwerk + ' - ' +item.iwerkTxt" [nzValue]="item.iwerk">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Khu vực chức năng</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="tplnr" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstFloc"
                        [nzLabel]="item.tplnr + ' - ' + item.descript" [nzValue]="item.tplnr">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <app-input-clear
                  label="Bộ phận lập kế hoạch"
                  [control]="$any(validateForm).controls['ingrp']" [disabled]="true"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Loại thiết bị</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="eqtyp" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstEqCat"
                        [nzLabel]="item.eqtyp + ' - '+item.eqtypTxt" [nzValue]="item.eqtyp">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Nhóm thiết bị</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Nhóm thiết bị" formControlName="eqart" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstEqGroup"
                        [nzLabel]="item.eqart+ ' - '+item.eqartTxt" [nzValue]="item.eqart">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Nhóm phụ</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear [nzDisabled]="true"
                      formControlName="eqartSub">
                      <nz-option cdkScrollable *ngFor="let item of lstEqGroup"
                        [nzLabel]="item.eqart+ ' - '+item.eqartTxt" [nzValue]="item.eqart">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Mã thiết bị cha</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear placeholder="Mã thiết bị cha" formControlName="hequi" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstEquip" [nzLabel]="item.equnr+' - '+item.eqktx"
                        [nzValue]="item.equnr">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Bộ phận bảo trì</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear formControlName="arbpl" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstEqWc"
                        [nzLabel]="item.arbpl + ' - ' + item.arbplTxt" [nzValue]="item.arbpl">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Trạng thái sử dụng</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear  formControlName="statAct" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstUsageStatus"
                        [nzLabel]="item.code + ' - ' + item.name" [nzValue]="item.code">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Trạng thái hoạt động</nz-form-label>
                  <nz-form-control nzErrorTip="Không được để trống">
                    <nz-select nzShowSearch nzAllowClear  formControlName="statusTh" [nzDisabled]="true">
                      <nz-option cdkScrollable *ngFor="let item of lstActiveStatus"
                        [nzLabel]="item.code + ' - ' + item.name" [nzValue]="item.code">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <app-input-clear placeholder="Main Asset Number" label="Main Asset Number" [disabled]="true"
                  [control]="$any(validateForm).controls['anlnr']"></app-input-clear>
              </div>
            </div>


            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <app-input-clear placeholder="Asset Subnumber" label="Asset Subnumber" [disabled]="true"
                  [control]="$any(validateForm).controls['anlun']"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <app-input-clear label="Nhóm đặc tính"
                  [control]="$any(validateForm).controls['class']" [disabled]="true"></app-input-clear>
              </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="6">
              <div class="inner-box">
                <nz-form-item>
                  <nz-form-label>Ngày sử dụng thiết bị</nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="inbdt" [nzPlaceHolder]="'Chọn ngày'" [nzDisabled]="true"
                      style="width: 100%;"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

          </div>
        </nz-tab>

        <nz-tab nzTitle="Thông số kỹ thuật">
          <nz-table #charTable [nzShowPagination]="false" nzSize="small" [nzData]="lstEqChar">
            <thead>
              <tr>
                <th>STT</th>
                <th style="width: 20%">Nhóm đặc tính</th>
                <th style="width: 20%">Đặc tính</th>
                <th>Giá trị</th>
                <th>Mô tả thêm</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of charTable.data; let i = index">
                <td>{{ 1 + i}}</td>
                <td>
                  {{_global.getNameClassH(lstClassH, data.classH)}}
                </td>
                <td>
                  {{_global.getNameClassD(lstClassD, data.classD)}}
                </td>
                <td>{{data.value}}</td>
                <td>{{data.note}}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
         <nz-tab nzTitle="Sự cố liên quan">
<nz-table nzBordered [nzSize]="'middle'" [nzData]="paginationResultNoti.data" class="auto-scroll-table"
      [nzShowPagination]="false" [nzFrontPagination]="false" #headerTable>
      <thead>
        <tr>
          <th>Mã yêu cầu</th>
          <th>Nội dung</th>
          <th>Ngày ghi nhận</th>
          <th>Ngày hoàn thành</th>
          <th>Bộ phận thực hiện</th>
          <th>Người tạo sự cố</th>
          <th>Người sửa chữa</th>
          <th>Khu vực phát sinh</th>
          <th>Tên thiết bị</th>
          <th>Mức độ ưu tiên</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <tr *ngFor="let data of paginationResultNoti.data; let i = index">
          <td>{{ data.qmnum }}</td>
          <td>{{ data.qmtxt }}</td>
          <td>{{ data.qmdat | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ data.ltrmn | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ _global.getNameWc(lstEqWc, data.arbpl) }}</td>
          <td>{{ _global.getFullNameUser(lstAccount, data.qmnam) }}</td>
          <td>{{ _global.getFullNameUser(lstAccount, data.staffSc) }}</td>
          <td>{{ _global.getNameFloc(lstFloc, data.tplnr) }}</td>
          <td>{{ _global.getNameEquip(lstEquip, data.equnr) }}</td>
          <td>{{ _global.getPriorityText(data.priok) }}</td>
          <td>
            <nz-tag *ngIf="data.statAct == '01'" nzColor="processing">Chờ duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '02'" nzColor="success">Phê duyệt</nz-tag>
            <nz-tag *ngIf="data.statAct == '03'" nzColor="error">Từ chối</nz-tag>
            <nz-tag *ngIf="data.statAct == '04'" nzColor="success">Hoàn thành</nz-tag>
            <nz-tag *ngIf="data.statAct == '05'" nzColor="default">Đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '06'" nzColor="error">Từ chối đóng</nz-tag>
            <nz-tag *ngIf="data.statAct == '07'" nzColor="processing">Đang thực hiện</nz-tag>
          </td>

        </tr>
      </tbody>
    </nz-table>

    <div style="float: right; margin: 12px;" *ngIf="paginationResultNoti?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzShowTotal]="totalTemplate" [nzPageIndex]="filterNoti.currentPage"
        [nzTotal]="paginationResultNoti.totalRecord" [nzPageSize]="filterNoti.pageSize"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>Tổng số {{ paginationResultNoti.totalRecord }} mục</ng-template>
    </div>
        </nz-tab>
         <nz-tab nzTitle="Lịch sử bảo trì, bảo dưỡng">
<nz-table nzBordered [nzSize]="'middle'" [nzData]="paginationResultOrder.data" class="auto-scroll-table"
      [nzShowPagination]="false" [nzFrontPagination]="false" #headerTable>
      <thead>
        <tr>
          <th>Mã lệnh</th>
          <th>Nội dung</th>
          <th>Mã yêu cầu</th>
          <th>Ngày ghi nhận</th>
          <th>Ngày hoàn thành</th>
          <th>Bộ phận thực hiện</th>
          <th>Người tạo sự cố</th>
          <th>Người sửa chữa</th>
          <th>Khu vực phát sinh</th>
          <th>Tên thiết bị</th>
          <th>Mức độ ưu tiên</th>
          <th nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <tr *ngFor="let data of paginationResultOrder.data; let i = index">
          <td>{{ data.aufnr }}</td>
          <td>{{ data.ktext }}</td>
          <td>{{ data.qmnum }}</td>
          <td>{{ data.erdat | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ data.gltri | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ _global.getNameWc(lstEqWc, data.arbpl) }}</td>
          <td>{{ _global.getFullNameUser(lstAccount, data.ernam) }}</td>
          <td>{{ _global.getFullNameUser(lstAccount, data.staffSc) }}</td>
          <td>{{ _global.getNameFloc(lstFloc,data.tplnr) }}</td>
          <td>{{ _global.getNameEquip(lstEquip,data.equnr) }}</td>
          <td>{{ _global.getPriorityText(data.priok) }}</td>
          <td>
            <nz-tag *ngIf="data.status == '01'" nzColor="default">Khởi tạo</nz-tag>
            <nz-tag *ngIf="data.status == '02'" nzColor="processing">Đã phân công</nz-tag>
            <nz-tag *ngIf="data.status == '04'" nzColor="success">Hoàn thành</nz-tag>
            <nz-tag *ngIf="data.status == '07'" nzColor="processing">Đang thực hiện</nz-tag>
          </td>

        </tr>
      </tbody>
    </nz-table>

    <div style="float: right; margin: 12px;" *ngIf="paginationResultOrder?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzShowTotal]="totalTemplate" [nzPageIndex]="filterOrder.currentPage"
        [nzTotal]="paginationResultOrder.totalRecord" [nzPageSize]="filterOrder.pageSize"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>Tổng số {{ paginationResultOrder.totalRecord }} mục</ng-template>
    </div>

        </nz-tab>
         <nz-tab nzTitle="Điều chuyển">

        </nz-tab>
         <nz-tab nzTitle="Chỉ số đo">

        </nz-tab>
         <nz-tab nzTitle="Vật tư thay thế">

        </nz-tab>
      </nz-tabset>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
</ng-template>
