<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>KẾ HOẠCH THEO CẤP ĐỘ</nz-page-header-title>
  <nz-page-header-subtitle>Tạo mới thông tin kế hoạch theo cấp độ</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <button *nzSpaceItem nz-button nzType="primary" (click)="onCreate()"><nz-icon nzType="save" nzTheme="outline" />
        Lưu dữ liệu</button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content class="content">
    <div nz-row [nzGutter]="16" style="margin: 0;">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Mã kế hoạch</label>
          <input nz-input [(ngModel)]="model.warpl" [disabled]="true">
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Tên kế hoạch</label>
          <input nz-input [(ngModel)]="model.wptxt">
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Loại kế hoạch</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.mpgrp" (ngModelChange)="onChangeMpgrp($event)">
            <nz-option *ngFor="let item of lstMpgrp" [nzLabel]="item.value + ' - ' + item.name" [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Kiểu lập</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.cyctype">
            <nz-option *ngFor="let item of lstCyctype" [nzLabel]="item.value + ' - ' + item.name"
              [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Đơn vị đo</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.cycunit">
            <nz-option *ngFor="let item of lstCycunit" [nzLabel]="item.value + ' - ' + item.name"
              [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Ngày bắt đầu kế hoạch</label>
          <nz-date-picker [nzFormat]="'dd/MM/yyyy hh:mm'" [(ngModel)]="model.stdate"></nz-date-picker>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Khu vực chức năng</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.tplnr" (ngModelChange)="onChangeFloc($event)">
            <nz-option *ngFor="let item of lstFloc" [nzLabel]="item.tplnr + ' - ' + item.descript"
              [nzValue]="item.tplnr">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Mã thiết bị</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.equnr" (ngModelChange)="onChangeEquip($event)">
            <nz-option *ngFor="let item of lstEquipSelect" [nzLabel]="item.equnr + ' - ' + item.eqktx"
              [nzValue]="item.equnr">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Bộ phận lập kế hoạch</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.ingrp">
            <nz-option *ngFor="let item of lstPlgrp" [nzLabel]="item.ingrp + ' - ' + item.ingrpTxt"
              [nzValue]="item.ingrp">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Bộ phận thực hiện</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.arbpl">
            <nz-option *ngFor="let item of lstWc" [nzLabel]="item.arbpl + ' - ' + item.arbplTxt" [nzValue]="item.arbpl">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Loại lệnh</label>
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="model.auart">
            <nz-option *ngFor="let item of lstOrderType" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <nz-tabset>
      <nz-tab nzTitle="Thiết bị lập kế hoạch">
        <nz-table nzBordered [nzSize]="'middle'" #dataTable [nzData]="model.lstPlanOrder" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th>Loại lập</th>
              <th>Mã thiết bị</th>
              <th>Tên thiết bị</th>
              <th>Khu vực chức năng</th>
              <th>Chỉ số hoạt động</th>
              <th>Tần suất</th>
              <th style="width: 20%;">Mã checklist</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataTable.data; let i = index">
              <td>{{ data.cyctype == 'T' ? 'Thời gian' : 'Chỉ số hoạt động' }}</td>
              <td>{{ data.equnr }}</td>
              <td>{{ _global.getNameEquip(lstEquip, data.equnr) }}</td>
              <td>{{ _global.getNameFloc(lstFloc, data.tplnr)}}</td>
              <td>
                <input nz-input [(ngModel)]="data.measvalue">
              </td>
              <td>
                <input nz-input [(ngModel)]="data.cycle" (ngModelChange)="calculateDate(data)">
              </td>
              <td>
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.plnnr">
                  <nz-option *ngFor="let item of lstChecklist" [nzLabel]="item.plnnr + ' - ' + item.ktext"
                    [nzValue]="item.plnnr">
                  </nz-option>
                </nz-select>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <div *ngIf="isValidAdd()" style="display: flex; justify-content: center;">
          <button nz-button nzType="dashed" (click)="addPlanOrder()">
            <nz-icon nzType="plus" />
            Thêm mới
          </button>
        </div>
      </nz-tab>
     <nz-tab nzTitle="Kế hoạch dự kiến">
        <nz-table nzBordered [nzSize]="'middle'" #plandTable [nzData]="model.lstPlanOrder" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th>Mã kế hoạch</th>
              <th>Tên kế hoạch</th>
              <th>Khu vực chức năng</th>
              <th>Ngày dự kiến</th>
              <th>Số lệnh</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of plandTable.data; let i = index">
              <td>{{ model.warpl}}</td>
              <td>{{ model.wptxt }}</td>
              <td>{{_global.getNameFloc(lstFloc, data.tplnr)}}</td>
              <td>{{ data.schstart | date : 'dd/MM/yyyy'}}</td>
              <td></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-page-header-content>
</nz-page-header>
